
/* Crimson Text */
@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic,700italic);

/* Minor third scale from http://type-scale.com/ */

html {font-size: 1em;}

body {
  background-color: white;
  font-family: Georgia, 'PT Serif', serif;
  font-weight: 400;
  line-height: 1.45;
  color: #333;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.074em;
  font-weight: bold;
}

h2 {font-size: 1.728em;}

h3 {font-size: 1.44em;}

h4 {font-size: 1.2em;}

small, .font_small {font-size: 0.833em;}

img {
  max-width: 100%;
}

#site {
  max-width: 830px;
  text-align: left;
  line-height: 1.5em;
  margin: 2.5em auto 2em;
  padding: 0 1.5em;
}
.home-intro {
  font-size: 2em;
  line-height: 1.33em;
  text-align: center;
  font-style: italic;
}
  #site .title {
    font-weight: bold;
  }
  #site .links {
    font-size: 14.5px;
    list-style: none;
    text-align: center;
    margin-bottom: 2em;
    padding-left: 0;
  }
  #site .links li {
      display: inline;
      margin-left: 0;
  }
  #site .links li a.active {
      background-color: #666;
      color: #f1f1f1;
  }
  #site .links li a {
    transition: 0.2s all ease;
    padding: 0.5em 0.33em;
    border-radius: 0.2em;
    text-decoration: none;
  }

  #site .links li:hover a {
    background-color: #aaa;
    text-decoration: none;
    color: #fff;
  }

  #site .footer {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 32px;
    padding-top: 32px;
    padding-bottom: 32px;
    border-top: 1px solid #ddd;
  }
    #site a {
      color: #2779b0;
    }
    #site .contact a:hover {
      color: black;
    }

.title {
  text-align: center;
  font-size: 130%;
}

p {
  margin: 1em 0;
}

a {
  text-decoration: none;
  color: #2749b0;
}
  a:visited { color: #2749b0; }
  a:hover   {
    text-decoration: underline;
  }

ol {
  margin-left: 2.25em;
}

ul {
  margin-left: 1.2em;
  margin-bottom: 1em;
}

.figure {
  text-align: center;
}
  .figure p.note { font-size: 75%; }

hr {
  margin: 40px 0 10px 0;
}

.grid-left, .grid-right {
  float: left;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
  width: 100%;
}

@media (min-width: 700px) {
  .grid-left, .grid-right {
    width: 50%;
  }
  .grid-left {
    padding-right: 0.5em;
  }
  .grid-right {
    padding-left: 0.5em;
  }
}

/* benchmarks table */

table.benchmarks {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
  table.benchmarks thead {
    /* border-top: 1px solid black; */
    border-bottom: 1px solid black;
  }
  table.benchmarks tbody {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
  table.benchmarks colgroup col.relative {
    border-left: 1px solid black;
  }
  table.benchmarks thead th,
  table.benchmarks thead td {
    width: 10ex;
    text-align: center;
    padding: 0 1ex;
  }
  table.benchmarks thead td {
    padding-bottom: 0.75ex;
  }
  table.benchmarks tbody th {
    font-weight: normal;
    text-align: left;
    padding: 0 1em;
  }
  table.benchmarks tbody td.data {
    text-align: right;
    padding: 0 2em 0 0;
  }

/* inline code and code blocks */

code, table.benchmarks tbody {
  font: 9pt Monaco, 'Consolas', monospace;
}

pre {
  border: 1px solid #ddd;
  margin: 1em 0;
  padding: .75em 1.25em;
  line-height: 1em;
  overflow: auto;
}

.sidebar {
  border: 1px solid #ddd;
  padding: .75em 1.25em;
  line-height: 1.45em;
  margin: 1em 0.5em 1em 0em;
  font-size: 90%;
}

blockquote {
  margin: 1em 2em 1em 1em;
}

/* pages listing blog posts */

#blogindex {
  max-width: 45em;
  margin: 2em auto 2em auto;
}
  #blogindex ul {
    margin: 0 2.5em 0 1em;
  }
  #blogindex ul.posts {
    list-style-type: none;
  }
    #blogindex ul.posts li {
      line-height: 1.75em;
      margin: 0;
    }
    #blogindex ul.posts .timestamp {
      float: right;
      color: #aaa;
    }

/* blog post pages */

#blogpost {
  margin-bottom: 3em;
}
  #blogpost .timestamp {
    color: #aaa;
  }

#trackbacks {
  margin-bottom: 3em;
}

/* disqus comment threads */

#disqus_thread {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 85%;
}
  #dsq-pagination {
    font-size: 85%;
  }

.chaplink {
  font-family: Helvetica, Arial, Clean, sans-serif;
  font-size: 90%;
}
.prevlink {
  float: left;
}
.nextlink {
  float: right;
}

/* downloads page */

.downloads {
  margin: 1% 0 0 3%;
  width: 90%;
}
.downloads tbody {
  width: 100%;
}
.downloads td {
  text-align: center;
  width: 25%;
}
.downloads th {
  padding: 0 5px;
}
.downloads td, .downloads th {
  border: solid 1px silver;
  padding: 1px;
  vertical-align: middle;
}
.downloads a {
  width: 100%;
}
.downloads a:hover {
  background: #eee;
}

#toc-container ol {
    padding-left: 1em;
    list-style: circle;
}

/* Utility classes */
.u-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
