---
layout: homepage
title:  Julia Downloads (Old releases)
---

{% include mainmenu.html %}

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Older Releases</h1>
      <p>
        Old releases are available should you need to use them to run Julia
        code written for those releases.  Note that these are not actively developed
        nor maintained anymore.
      </p>

      <br />

      <h2>v0.7.0</h2>
      <table class="downloads table table-hover table-responsive table-bordered">
        <tbody>
          <tr>
            <th rowspan="2"> Windows Self-Extracting Archive (.exe) <a href="platform.html#windows">[help]</a></th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/0.7/julia-0.7.0-win32.exe">32-bit</a> </td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/0.7/julia-0.7.0-win64.exe">64-bit</a> </td>
          </tr>
          <tr>
            <td colspan="6">Windows 7/Windows Server 2012 users also require
              <a href="https://support.microsoft.com/en-us/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-a-default-secure-protocols-in">TLS "Easy Fix" update</a>,
              and <a href="https://docs.microsoft.com/en-us/powershell/wmf/readme">Windows Management Framework 3.0 or later</a></td>
          </tr>
          <tr>
            <th> macOS Package (.dmg) <a href="platform.html#macos">[help]</a></th>
            <td colspan="6"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.7/julia-0.7.0-mac64.dmg">10.8+ 64-bit</a> </td>
          </tr>
          <tr>
            <th> Generic Linux Binaries for x86 <a href="platform.html#generic-binaries">[help]</a></th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/0.7/julia-0.7.0-linux-i686.tar.gz">32-bit</a>
              (<a href="https://julialang-s3.julialang.org/bin/linux/x86/0.7/julia-0.7.0-linux-i686.tar.gz.asc">GPG</a>)
            </td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/0.7/julia-0.7.0-linux-x86_64.tar.gz">64-bit</a>
                (<a href="https://julialang-s3.julialang.org/bin/linux/x64/0.7/julia-0.7.0-linux-x86_64.tar.gz.asc">GPG</a>)
            </td>
          </tr>
          <tr>
            <th> Generic FreeBSD Binaries for x86 <a href="platform.html#generic-binaries">[help]</a></th>
            <td colspan="6"> <a href="https://julialang-s3.julialang.org/bin/freebsd/x64/0.7/julia-0.7.0-freebsd-x86_64.tar.gz">64-bit</a>
                (<a href="https://julialang-s3.julialang.org/bin/freebsd/x64/0.7/julia-0.7.0-freebsd-x86_64.tar.gz.asc">GPG</a>)
            </td>
          </tr>
          <tr>
            <th> Source </th>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.7.0/julia-0.7.0.tar.gz">Tarball</a>
                  (<a href="https://github.com/JuliaLang/julia/releases/download/v0.7.0/julia-0.7.0.tar.gz.asc">GPG</a>)
            </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.7.0/julia-0.7.0-full.tar.gz">Tarball with dependencies</a>
              (<a href="https://github.com/JuliaLang/julia/releases/download/v0.7.0/julia-0.7.0-full.tar.gz.asc">GPG</a>)
            </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v0.7.0">GitHub</a> </td>
          </tr>
        </tbody>
      </table>

      <h2>v0.6.4</h2>
      <table class="downloads table table-hover table-bordered">
        <tbody>
        <tr>
          <th rowspan="2"> Windows Self-Extracting Archive (.exe) <a href="platform.html#windows">[help]</a></th>
          <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/0.6/julia-0.6.4-win32.exe">32-bit</a> </td>
          <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/0.6/julia-0.6.4-win64.exe">64-bit</a> </td>
        </tr>
        <tr>
          <td colspan="6" class="text-muted">Windows 7/Windows Server 2012 users also require
            <a href="https://support.microsoft.com/en-us/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-a-default-secure-protocols-in">TLS "Easy Fix" update</a>,
            and <a href="https://docs.microsoft.com/en-us/powershell/wmf/readme">Windows Management Framework 3.0 or later</a>
          </td>
        </tr>
        <tr>
          <th> macOS Package (.dmg) <a href="platform.html#macos">[help]</a></th>
          <td colspan="6"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.6/julia-0.6.4-mac64.dmg">10.8+ 64-bit</a> </td>
        </tr>
        <tr>
          <th> Generic Linux Binaries for x86 <a href="platform.html#generic-binaries">[help]</a></th>
          <td colspan="3">
            <a href="https://julialang-s3.julialang.org/bin/linux/x86/0.6/julia-0.6.4-linux-i686.tar.gz">32-bit</a>
            (<a href="https://julialang-s3.julialang.org/bin/linux/x86/0.6/julia-0.6.4-linux-i686.tar.gz.asc">GPG</a>)
          </td>
          <td colspan="3">
            <a href="https://julialang-s3.julialang.org/bin/linux/x64/0.6/julia-0.6.4-linux-x86_64.tar.gz">64-bit</a>
            (<a href="https://julialang-s3.julialang.org/bin/linux/x64/0.6/julia-0.6.4-linux-x86_64.tar.gz.asc">GPG</a>)
          </td>
        </tr>
        <tr>
          <th> Source </th>
          <td colspan="2">
            <a href="https://github.com/JuliaLang/julia/releases/download/v0.6.4/julia-0.6.4.tar.gz">Tarball</a>
            (<a href="https://github.com/JuliaLang/julia/releases/download/v0.6.4/julia-0.6.4.tar.gz.asc">GPG</a>)
          </td>
          <td colspan="2">
            <a href="https://github.com/JuliaLang/julia/releases/download/v0.6.4/julia-0.6.4-full.tar.gz">Tarball with dependencies</a>
            (<a href="https://github.com/JuliaLang/julia/releases/download/v0.6.4/julia-0.6.4-full.tar.gz.asc">GPG</a>)
          </td>
          <td colspan="2">
            <a href="https://github.com/JuliaLang/julia/tree/v0.6.4">GitHub</a>
          </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>v0.5.2 (unmaintained)</h2>
      <table class="downloads table table-hover table-bordered">
      <tbody>
        <tr>
            <th> Windows Self-Extracting Archive (.exe) </th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/0.5/julia-0.5.2-win32.exe">32-bit</a> </td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/0.5/julia-0.5.2-win64.exe">64-bit</a> </td>
        </tr>
        <tr>
            <th> macOS Package (.dmg) </th>
            <td colspan="6"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.5/julia-0.5.2-mac64.dmg">10.8+ 64-bit</a> </td>
        </tr>
        <tr>
            <th> Generic Linux binaries </th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/0.5/julia-0.5.2-linux-i686.tar.gz">32-bit (X86)</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x86/0.5/julia-0.5.2-linux-i686.tar.gz.asc">GPG</a>)</td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/0.5/julia-0.5.2-linux-x86_64.tar.gz">64-bit (X86)</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x64/0.5/julia-0.5.2-linux-x86_64.tar.gz.asc">GPG</a>)</td>
        </tr>
        <tr>
            <th> Linux builds for other architectures </th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/arm/0.5/julia-0.5.2-linux-arm.tar.gz">ARMv7 32-bit hard float</a> (<a href="https://julialang-s3.julialang.org/bin/linux/arm/0.5/julia-0.5.2-linux-arm.tar.gz.asc">GPG</a>)</td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/ppc64le/0.5/julia-0.5.2-linux-ppc64le.tar.gz">PowerPC 64 little endian</a> (<a href="https://julialang-s3.julialang.org/bin/linux/ppc64le/0.5/julia-0.5.2-linux-ppc64le.tar.gz.asc">GPG</a>)</td>
        </tr>
        <tr>
            <th> Source </th>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.5.2/julia-0.5.2.tar.gz">Tarball</a> (<a href="https://github.com/JuliaLang/julia/releases/download/v0.5.2/julia-0.5.2.tar.gz.asc">GPG</a>) </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.5.2/julia-0.5.2-full.tar.gz">Tarball with dependencies</a> (<a href="https://github.com/JuliaLang/julia/releases/download/v0.5.2/julia-0.5.2-full.tar.gz.asc">GPG</a>) </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v0.5.2">GitHub</a> </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>v0.4.7 (unmaintained)</h2>
      <table class="downloads table table-hover table-bordered">
      <tbody>
        <tr>
            <th> Windows Self-Extracting Archive (.exe) </th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/0.4/julia-0.4.7-win32.exe">32-bit</a> </td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/0.4/julia-0.4.7-win64.exe">64-bit</a> </td>
        </tr>
        <tr>
            <th> macOS Package (.dmg) </th>
            <td colspan="6"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.4/julia-0.4.7-mac64.dmg">10.7+ 64-bit</a> </td>
        </tr>
        <tr>
            <th> Generic Linux binaries </th>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/0.4/julia-0.4.7-linux-i686.tar.gz">32-bit</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x86/0.4/julia-0.4.7-linux-i686.tar.gz.asc">GPG</a>)</td>
            <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/0.4/julia-0.4.7-linux-x86_64.tar.gz">64-bit</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x64/0.4/julia-0.4.7-linux-x86_64.tar.gz.asc">GPG</a>)</td>
        </tr>
        <tr>
            <th> Fedora/RHEL/CentOS/SL packages (.rpm) </th>
            <td colspan="6"> <a href="https://copr.fedoraproject.org/coprs/nalimilan/julia/">32/64-bit</a> </td>
        </tr>
        <tr>
            <th> Source </th>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.4.7/julia-0.4.7.tar.gz">Tarball</a> (<a href="https://github.com/JuliaLang/julia/releases/download/v0.4.7/julia-0.4.7.tar.gz.asc">GPG</a>) </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v0.4.7/julia-0.4.7-full.tar.gz">Tarball with dependencies</a><br> (<a href="https://github.com/JuliaLang/julia/releases/download/v0.4.7/julia-0.4.7-full.tar.gz.asc">GPG</a>) </td>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/release-0.4">GitHub</a> </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>v0.3.12 (unmaintained)</h2>
      <table class="downloads table table-hover table-bordered">
        <tbody>
        <tr>
            <th> Windows Self-Extracting Archive (.exe) </th>
            <td> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/0.3/julia-0.3.12-win32.exe">32-bit</a> </td>
            <td> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/0.3/julia-0.3.12-win64.exe">64-bit</a> </td>
        </tr>
        <tr>
            <th> macOS Package (.dmg) </th>
            <td colspan="2"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.3/julia-0.3.12-mac64.dmg">10.7+ 64-bit</a> </td>
        </tr>
        <tr>
            <th> Ubuntu packages (.deb) </th>
            <td colspan="2"> <a href="https://launchpad.net/~staticfloat/+archive/juliareleases">32/64-bit</a> </td>
        </tr>
        <tr>
            <th> Fedora/RHEL/CentOS/SL packages (.rpm) </th>
            <td colspan="2"> <a href="https://copr.fedoraproject.org/coprs/nalimilan/julia/">32/64-bit</a> </td>
        </tr>
        <tr>
            <th> Generic Linux binaries </th>
            <td> <a href="https://julialang-s3.julialang.org/bin/linux/x86/0.3/julia-0.3.12-linux-i686.tar.gz">32-bit</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x86/0.3/julia-0.3.12-linux-i686.tar.gz.asc">GPG</a>)</td>
            <td> <a href="https://julialang-s3.julialang.org/bin/linux/x64/0.3/julia-0.3.12-linux-x86_64.tar.gz">64-bit</a> (<a href="https://julialang-s3.julialang.org/bin/linux/x64/0.3/julia-0.3.12-linux-x86_64.tar.gz.asc">GPG</a>)</td>
        </tr>
        <tr>
            <th> Source </th>
            <td> <a href="https://github.com/JuliaLang/julia/releases/download/v0.3.12/julia-0.3.12_80aa77986e.tar.gz">Tarball</a> (<a href="https://github.com/JuliaLang/julia/releases/download/v0.3.12/julia-0.3.12_80aa77986e.tar.gz.asc">GPG</a>) </td>
            <td> <a href="https://github.com/JuliaLang/julia/tree/release-0.3">GitHub</a> </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>Julia + Juno IDE bundles (v0.3.12)</h2>
      <table class="downloads table table-hover table-bordered">
        <tbody>
        <tr>
          <th> Windows (7+) </th>
          <td> <a href="https://junolab.s3.amazonaws.com/release/1.0.3/juno-windows-x32.zip">32-bit</a> </td>
          <td> <a href="https://junolab.s3.amazonaws.com/release/1.0.3/juno-windows-x64.zip">64-bit</a> </td>
        </tr>
        <tr>
          <th> macOS (10.8+)</th>
          <td colspan="2"> <a href="https://junolab.s3.amazonaws.com/release/1.0.3/juno-mac-x64.dmg">64-bit</a> </td>
        </tr>
        <tr>
          <th> Linux </th>
          <td> <a href="https://junolab.s3.amazonaws.com/release/1.0.3/juno-linux-x32.zip">32-bit</a> </td>
          <td> <a href="https://junolab.s3.amazonaws.com/release/1.0.3/juno-linux-x64.zip">64-bit</a> </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>v0.2.1 (unmaintained)</h2>
      <table class="downloads table table-hover table-bordered">
        <tbody>
        <tr>
            <th> Windows Self-Extracting Archive (.exe) </th>
            <td> <a href="http://julialang-s3.julialang.org/bin/winnt/x86/0.2/julia-0.2.1-win32.exe">32-bit</a> </td>
            <td> <a href="http://julialang-s3.julialang.org/bin/winnt/x64/0.2/julia-0.2.1-win64.exe">64-bit</a> </td>
        </tr>
        <tr>
            <th> macOS Package (.dmg) </th>
            <td> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.2/julia-0.2.1-mac64.dmg">10.7+ 64-bit</a> </td>
        </tr>
        <tr>
            <th> Ubuntu packages (.deb) </th>
            <td colspan="2"> <a href="https://launchpad.net/~staticfloat/+archive/juliareleases">32/64-bit</a> </td>
        </tr>
        <tr>
            <th> Source </th>
            <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v0.2.1">GitHub</a> </td>
        </tr>
        </tbody>
      </table>

      <br />

      <h2>v0.1.2 (unmaintained)</h2>
      <table class="downloads table table-hover table-bordered">
        <tbody>
        <tr>
            <th> Windows Archive (.zip) </th>
            <td> <a href="http://julialang-s3.julialang.org/bin/winnt/x86/0.1/julia0.1.2-WINNT-i686+Git.zip">32-bit</a> </td>
            <td> 64-bit (Unavailable) </td>
        </tr>
        <tr>
            <th> macOS Package (.dmg) </th>
            <td>32-bit (Unavailable)</td>
            <td> <a href="https://julialang-s3.julialang.org/bin/mac/x64/0.1/julia-0.1.2-mac64.dmg">64-bit</a> </td>
        </tr>
        <tr>
            <th> Source </th>
            <td> <a href="https://github.com/JuliaLang/julia/tree/release-0.1">GitHub</a> </td>
            <td> <a href="https://github.com/JuliaLang/julia/archive/release-0.1.tar.gz">Tarball</a> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<br /><br />

{% include footermenu.html %}

{% include footer.html %}
