---
layout: homepage
title:  Platform specific instructions
---

{% include mainmenu.html %}

<br /><br />


<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Platform Specific Instructions for Official Binaries</h1>

      <br />

      <p>
      All official Julia binaries produce portable installations. Once installed, the directory in which Julia was installed can be moved to a different location on the same computer, or even to a different computer.
      </p>

      <h2 id='Windows'>Windows</h2>
      <p>
        Julia is available for Windows 7 and later, both 32 bit and 64 bit.
        <ol>
          <li>Download the Windows julia.exe installer for your platform. 32-bit julia works on both x86 and x86_64. 64-bit julia will only run on 64-bit Windows (x86_64).
          <li>Run the downloaded program to extract julia
          <li>Double-click the julia shortcut in the unpacked folder to start julia
        </ol>
      </p>

      <p>
        Windows 7 / Windows Server 2012 users will also need to install:
        <ul>
          <li>the <a href="https://support.microsoft.com/en-us/help/3140245/update-to-enable-tls-1-1-and-tls-1-2-as-a-default-secure-protocols-in">TLS easy_fix</a> for the package manager to work,
          see <a href="https://discourse.julialang.org/t/errors-for-git-pkg/9351">this Discourse thread</a> for more details.
          <li><a href="https://docs.microsoft.com/en-us/powershell/wmf/overview">Windows Management Framework 3.0 or later</a> to include PowerShell 3.0 or later.
        </ul>
        It is recommended that users on these legacy Windows systems install and use a terminal besides <code>cmd.exe</code> since the default terminal application has known issues which affect its usability with Julia and other libuv-based cross-platform software.
      </p>

      <p>
        Uninstallation is performed by using the Windows uninstaller (or deleting the extracted directory). The packages directory in <code>%HOME%/.julia</code> can be deleted if you would no longer like to retain the user installed packages. If you would also like to remove your preferences files, remove <code>%HOME%/.juliarc.jl</code> and <code>%HOME%/.julia_history</code>.
      </p>

      <br />

      <h2 id='macOS'>macOS</h2>
      <p>
        On macOS, a <code>Julia-&lt;version&gt;.dmg</code> file is provided, which contains Julia.app. Installation is the same as any other Mac software.
        Drag the <code>Julia-&lt;version&gt;.app</code> to Applications. You can also run Julia from the disk image. Julia runs on macOS 10.8 and later releases.
      </p>
  
      <p>
        Add <code>julia</code> to the PATH by saving the following in your `~/.bash_history`. You can then also start Julia in the Terminal.<br />
        <pre>export PATH=$PATH:/Applications/Julia-<version>.app/Contents/Resources/julia/bin/julia</pre>
      </p>
  
      <p>
        Uninstall Julia by deleting Julia.app and the packages directory in <code>~/.julia</code>. Multiple Julia.app binaries can co-exist without interfering with each other.
        If you would also like to remove your preferences files, remove <code>~/.juliarc.jl</code> and <code>~/.julia_history</code>.
      </p>

      <br />

      <h2 id='Linux'>Linux and FreeBSD</h2>
      <p>
        It is strongly recommended that the official generic binaries from the downloads page be used to install Julia on Linux and FreeBSD.
      </p>

      <br />

      <p>
        The generic Linux and FreeBSD binaries do not require any special installation steps, but you will need to ensure that your system can find
        the <code>julia</code> executable.
      </p>

      <p>
        First, download the <code>.tar.gz</code> file from the <a href="index.html">downloads page</a>. You need to extract this file to a suitable location.
        To extract the file, you can use the following command:

        <pre>tar -xvzf julia-x.y.z-linux-x86_64.tar.gz</pre>

        This will extract the files to a folder named <code>julia-x.y.z</code>. We would refer this as <code>&lt;Julia directory&gt;</code>.
        To run Julia, you can do any of the following:

        <ul>
          <li>Create a symbolic link to <code>julia</code> inside a folder which is on your system <code>PATH</code>
          <li>Add Julia's <code>bin</code> folder to your system <code>PATH</code> environment variable
          <li>Invoke the <code>julia</code> executable by using its full path, as in <code>&lt;Julia directory&gt;/bin/julia</code>
        </ul>
      </p>

      <p>
        To add Julia's <code>bin</code> folder to <code>PATH</code> environment variable, you can edit the <code>~/.bash_profile</code> or <code>~/.bashrc</code> file.
        Open the file in your favourite editor and add a new line as follows:

        <pre>export PATH="$PATH:/path/to/&lt;Julia directory&gt;/bin</pre>
      </p>

      <p>
        Apart from this, there are several ways through which you can change environment variable. You can follow <a href="https://help.ubuntu.com/community/EnvironmentVariables">this guide</a>
        to find out a way convenient for you.
      </p>
      <p>
        Julia installs all its files in a single directory. Deleting the directory where Julia was installed is sufficient. If you would also like to remove your packages, remove <code>~/.julia</code>. The startup file is at <code>~/.juliarc.jl</code> and the history at <code>~/.julia_history</code>.
      </p>

      <br />

      <h1 id='Unofficial'>Platform Specific Instructions for Unofficial Binaries</h1>

      <br />

      <p>
        The following distribution-specific packages are community contributed. They may not use the right versions of Julia dependencies or include important patches that the official binaries ship with.
        In general, bug reports will only be accepted if they are reproducible on the official generic binaries on the downloads page.
      </p>

      <br />

      <h2>Chocolatey on Windows</h2>
      <p>If you use Chocolatey for package management, you can install the latest Julia release by executing the following one-liner, in either a powershell or command prompt:
        <pre>choco install julia --confirm</pre>
      Chocolatey automatically creates a shim for the Julia executable, so you simply type <code>julia</code> to run Julia in the terminal.
      When a new version is released simply execute <code>choco upgrade julia --confirm</code>. If you want to uninstall Julia run <code>choco uninstall julia --confirm</code>.
      </p>

      <br />

      <h2>HomeBrew on Mac</h2>
        Julia can be installed using the <a href="https://brew.sh/">Homebrew package manager</a> as follows:

        <pre>brew cask install julia</pre>
      </p>

      <br />

      <h2>Fedora/RHEL/CentOS/SL/OEL Linux</h2>
      <p>
        A <a href="https://copr.fedoraproject.org/coprs/nalimilan/julia/">Copr repository</a> is provided for Fedora, RHEL, CentOS, Scientific Linux and Oracle Enterprise Linux systems to allow for automatic
        updating to the latest stable version of Julia.
      </p>

      <p>
        If you are using RHEL, CentOS, Scientific Linux or Oracle Enterprise Linux (version 5 or higher), first <a href="https://fedoraproject.org/wiki/EPEL#How_can_I_use_these_extra_packages.3F">enable EPEL</a> for your distribution version. Then follow the steps below.
      </p>

      <p>
        If you are using Fedora (version 19 or higher), directly run:

        <pre>
sudo dnf copr enable nalimilan/julia
sudo yum install julia</pre>
      </p>

      <p>
        If you are using CentOS (version 7 or higher), directly run:

        <pre>
sudo yum-config-manager --add-repo https://copr.fedorainfracloud.org/coprs/nalimilan/julia/repo/epel-7/nalimilan-julia-epel-7.repo
sudo yum install julia</pre>
      </p>

      <p>
        If both <code>dnf</code> and <code>yum-config-manager</code> are not available for your distribution, download the relevant <code>.repo</code> file from the Copr webpage, copy it to <code>/etc/yum.repos</code>,
        and run the second command.
      </p>

      <p>
        Note that Fedora guidelines advise against uploading new breaking releases to official repositories: therefore your distribution will not provide the new major versions of Julia which were published after it.
        When reporting issues, please ensure you are using the latest available release by using one of the Copr repositories displayed on this page.
        In order to use nightly Julia builds, replace <code>nalimilan/julia</code> with <code>nalimilan/julia-nightlies</code> in the instructions above. These can then be updated with <code>yum upgrade julia</code>.
      </p>

      <br />

      <h2>Debian/Ubuntu Linux</h2>
      <p>
      Recent Debian/ubuntu distributions include their own build of Julia, which can be installed in the usual way. If this is not the version of Julia you want, you will need to use the official binaries.

      <pre>sudo apt install julia</pre>
      </p>

      <h2>FreeBSD Ports</h2>
      <p>
        Julia is available in the <a href="https://svnweb.freebsd.org/ports/head/lang/julia/">Ports Collection</a>.
        To install from the FreeBSD binary package manager, <code>pkg</code>, run
        <pre>pkg install julia</pre>
      </p>

    </div>
  </div>
</div>

{% include footermenu.html %}

{% include footer.html %}
