---
layout: homepage
title:  Plotting in Julia
---

<head>
  <meta name="description" content="Get started plotting in Julia with a variety of plotting packages. Learn more about these powerful external packages here."/>
</head>

{% include mainmenu.html %}

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Plotting in Julia</h1>
      <p>Plotting in Julia is available through external packages.</p>

      <br />

      <h2>Plots</h2>
      <p>
        <a href="https://github.com/JuliaPlots/Plots.jl" class="badge badge-primary">Plots.jl</a> is a plotting metapackage which
        brings many different plotting packages under a single API, making it easy to swap
        between plotting "backends". Installation and example usage is as follows:
      </p>

      <pre>
        <code class="julia">
    using Pkg
    Pkg.add("Plots")
    using Plots
    plotly() # Choose the Plotly.jl backend for web interactivity
    plot(rand(5,5),linewidth=2,title="My Plot")
    Pkg.add("PyPlot") # Install a different backend
    pyplot() # Switch to using the PyPlot.jl backend
    plot(rand(5,5),linewidth=2,title="My Plot") # The same plotting command works
        </code>
      </pre>

      <p>
        A guide to the available backends can be found <a href="http://docs.juliaplots.org/latest/backends/">in the manual</a>.
        Additionally, many Julia packages add plotting functionality through its <a href="http://docs.juliaplots.org/latest/recipes/">recipe system</a>.
        These can be used to do tasks like creating a default visualization
        for Julia types and create entirely new types of plots.
        <a href="http://docs.juliaplots.org/latest/ecosystem/">The ecosystems page</a> shows some
        visualizations the extension packages have added to Plots.jl.
      </p>
    </div>
  </div>

  <br />

  <div class="row">
    <div class="col-12">
      <h2>PyPlot</h2>

      <p>
        <a href="https://github.com/JuliaPy/PyPlot.jl" class="badge badge-primary">PyPlot</a> uses the Julia PyCall
        package to call Python's matplotlib directly from Julia with little or
        no overhead (arrays are passed without making a copy). Make sure that
        Python and MatPlotlib are correctly installed. Installation of
        PyPlot.jl and example usage are as follows:
      </p>

      <pre>
        <code class="julia">
    using Pkg
    Pkg.add("PyPlot")
    using PyPlot
    x = range(0,stop=2*pi,length=1000); y = sin.(3*x + 4*cos.(2*x))
    plot(x, y, color="red", linewidth=2.0, linestyle="--")
        </code>
      </pre>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h2>Gadfly</h2>

      <p>
        <a href="https://github.com/GiovineItalia/Gadfly.jl">Gadfly.jl</a> is a
        <a href="http://vita.had.co.nz/papers/layered-grammar.pdf">Grammar of graphics</a>
        implementation in Julia. Add the Gadfly package to your
        Julia installation with the following command on the Julia prompt:
      </p>

      <pre>
        <code class="julia">
    using Pkg
    Pkg.add("Gadfly")
    using Gadfly
    draw(SVG("output.svg", 6inch, 3inch), plot([sin, cos], 0, 25))
        </code>
      </pre>

      <p>
        Gadfly's interface will be familiar to users of R's
        <a href="http://ggplot2.org" class="badge badge-primary">ggplot2</a> package. See
        examples and documentation on the <a href="http://gadflyjl.org" class="badge badge-primary">Gadfly</a> homepage.
      </p>
    </div>
  </div>
</div>

<br />

{% include footermenu.html %}

{% include footer.html %}
