---
layout: homepage
title:  The Julia Language
julia_version: v1.3
---
<html lang="en">

<head>
  <meta name="description" content="The official website for the Julia Language. Julia is a language that is fast, dynamic, easy to use, and open source. Click here to learn more."/>
</head>

{% comment %} {% include alerts.html %} {% endcomment %}

{% include alerts.html %}

{% include mainmenu.html %}

{% include jumbotron.html %}

{% include languagefeatures.html %}
<br />

{% include ecosystem.html %}

{% include videos.html %}
<br/><br/>

{% include packages.html %}

{% include blogs.html %}
<br /><br />

{% include contact.html %}

{% include ides.html %}
  
{% include tools.html %}

<br />

{% include footermenu.html %}

{% include footer.html %}
