
body {
    font-size: 15px;
    font-family: RobotoDraft, "Helvetica Neue", sans-serif;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

a {
    color: #888;
    text-decoration: none;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}

.header {
    padding: 1em;
}

.julia-logo {
    height: 6em;
    width: auto;
}

.julia-tagline {
    color: #888;
    margin-left:  2em;
    font-size: 20px;
}

.navbar {
    margin-top: 1em;
    padding: 1em;
    background: #272822;
    text-shadow: 0 1px 0 #000;
    border-radius: 6px;
}
.navbar ul {
    margin-left: 0.25em;
}

.navbar a:hover {
    color: #fff;
    cursor: pointer;
}
.navbar a {
    color: #eee;
    margin-right: 1em;
}

.intro-wrapper {
    padding: 1em;
    margin-top: 1em;
}

.features-wrapper {
    padding: 1em;
    margin-top: 1em;
}

.intro-container {
    min-height: 12em;
}

.intro-text {
    font-size: 1.5em;
    color: #666;
    width: 50%;
    line-height: 1.5em;
}

.download-button {
    font-weight: 200;
    font-size: 1.25em;
}

.feature-list {
    width: 300px;
}
.feature-table a {
    padding: 1em 1em;
    transition: all 0.2s ease;
    display:block;
    margin: 0.5em 0;
}

.feature-list a:hover {
    background: #e2e3e3;
    border-radius: 4px 0 0 4px;
}

.feature-list a.active {
    background: #aaa;
    color: #fff;
    border-radius: 4px 0 0 4px;
}

.feature-display {
    padding: 2em;
    align-self: stretch;
    border-radius: 4px;
    width: 100%;
    background: #f1f1f1;
}

.feature-inner {
    width: 100%
}

p {
    padding-top: 1em;
    line-height: 1.5em;
}

.video-item {
    margin: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
    border: 1px solid #ddd;
    width: 10em;
}
.video-item:hover {
    transition: all 0.1s ease;
    border: 1px solid #999;
}
.video-item:first-child {
    margin-left:0;
}
.video-item:last-child {
    margin-right:0;
}

.video-item .thumbnail {
    width: 100%;
    height: auto;
}

.video-item .caption {
    margin-top: 0.5em;
}

a.video-item {
    color: #444;
}

.recent-posts .timestamp {
    display:block;
    float: left;
    width: 8em;
    color: #bbb;
}
.recent-posts > li {
    padding: 1em;
}

.recent-posts {
    padding-left: 1em;
}

