.u-border-bottom {
    border-bottom: 1px solid #bbb;
}

.u-center {
    margin: 0 auto;
}

.u-container {
    max-width: 980px;
}

.u-relative {
    position: relative;
}

.u-flex {
    display: flex;
}

.u-hbox {
    flex-direction: row;
}

.u-half-width {
    width: 45%;
    margin-right: 2em;
}

.u-items-center {
    align-items: center;
}

.u-hskip   { width: 1rem; height:0; }
.u-hskip-2 { width: 2rem; height:0; }
.u-hskip-3 { width: 3rem; height:0; }
.u-vskip   { height: 1rem; width:0; }
.u-vskip-2 { height: 2rem; width:0; }
.u-vskip-3 { height: 3rem; width:0; }

.u-button {
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.125em;
    background: #272822;
}
.u-button:hover {
    background: #555;
    color: #fff;
}

.u-regular {
    font-weight: 400;
}

.u-extra-light {
    font-weight: 200;
}
.u-thin {
    font-weight: 300;
}

.u-text-center {
    text-align: center;
}
