.u-border-bottom {
    border-bottom: 1px solid #bbb;
}

.u-center {
    margin: 0 auto;
}

.u-container {
    max-width: 980px;
}

.u-relative {
    position: relative;
}

.u-flex {
    display: flex;
}

.u-hbox {
    flex-direction: row;
}

.u-items-center {
    align-items: center;
}

.u-hskip {
    width: 16px;
    height:0;
}
.u-vskip {
    height: 16px;
    width:0;
}

.u-button {
    color: #fff;
    padding: 0.5em 1em;
    border-radius: 0.125em;
    background: #777;
}
.u-button:hover {
    background: #555;
    color: #fff;
}

.u-regular {
    font-weight: 400;
}

.u-extra-light {
    font-weight: 200;
}
.u-thin {
    font-weight: 300;
}

.u-text-center {
    text-align: center;
}
