---
layout: homepage
title:  Julia Research, Prizes and and Publications
redirect_from:
  - /publications
  - /prizes
---

{% include mainmenu.html %}

<br /><br/>

<div class = "container">

<h2>Sponsors</h2>
<p>
We thank our sponsors for making Julia possible:
<ul>
<li> <a href="https://www.ll.mit.edu">Lincoln Laboratory</a>: <a href="http://www.mit.edu/~kepner/">Dr. Jeremy Kepner</a> is the founding sponsor of the Julia project.
<li> <a href="https://www.moore.org/article-detail?newsUrlName=bringing-julia-from-beta-to-1.0-to-support-data-intensive-scientific-computing">Gordon and Betty Moore Foundation</a>
<li> <a href="https://sloan.org/grant-detail/7999">Alfred P. Sloan Foundation</a>
<li> Intel
<li> Research grants from various agencies have led to Julia contributions: <a href="https://nsf.gov">NSF</a>, <a href="https://www.darpa.mil/">DARPA</a>, <a href="https://www.nih.gov/">NIH</a>, <a href="https://nasa.gov">NASA</a>, and <a href="https://www.faa.gov/">FAA</a>.
</ul>

<h2>Research</h2>
<p>
<p>Research on Julia is carried out at the <a href="https://julia.mit.edu">Julia Lab at MIT</a> and at many universities worldwide. If you use Julia in your research, we request citing the following paper:</p>

<p>
{% assign beks17 = site.publications | where:"path","_publications/BEKS17.md" | first %}
<div>{% include citation.html pub=beks17 %}</div>
</p>

<h2>Publications</h2>
<p>
Here's a list of publications about the Julia language, its standard
library, Julia packages, and technical computing applications. It
is by no means complete, and is based on submissions by
authors. A broader list of papers is available on <a href =
"https://scholar.google.com/scholar?cites=12373977815425691465&as_sdt=40000005&sciodt=0,22&hl=en">Google
Scholar</a>.
</p>

We welcome additions to this list in the form of
<a href = "https://github.com/JuliaLang/www.julialang.org/tree/master/_publications#readme">pull requests</a>.
<br><br>

{% assign pubs_grouped = site.publications | group_by: 'year' | sort: 'name' | reverse %}
<ul class="publist">
{% for eachyear in pubs_grouped  %}
  <h2> {{ eachyear.name }} </h2>
  {% for pub in eachyear.items %}
  <li id="{{ pub.path | remove: "_publications/" | remove: ".md"  }}">{% include citation.html pub=pub %}</li>
  {% endfor %}
  <br/><br/>
{% endfor %}
</ul>
</div>

<br /><br />

{% include footermenu.html %}

{% include footer.html %}
