<!-- alerts -->
<div class="container-fluid" id="top-alert">
  <div class="alert alert-dark mb-0" role="alert">
    <p class="text-center">
      <a href="https://juliacon.org">JuliaCon 2019</a> is in Baltimore July 22-26. <a href="https://juliacon.org/2019/tickets/">Buy your ticket</a>.
  </div>
  <div class="alert alert-medium mb-0" style="background-color:#CA3C32;" role="alert">
      <p class="text-center">
        2019 Julia User and Developer Survey Open Now. Click <a href="https://juliacomputing.com/survey/" target="_blank">here</a> to participate.
      </p>
  </div>
</div>
<!-- end alerts -->
