<!-- blog -->
<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 language-features "><hr/></div>
      <div class="col-lg-4 col-md-6 language-features section-heading">
        <h2 class="lead secondary-heading">
          Recent Blog Posts
        </h2>
        <h5 class="extra-link">Lorem ipsum dolor</h5>
      </div>
      <div class="col-lg-4 col-md-3 language-features"><hr/></div>
    </div>

    <br />

    <div class="row">
      <div class="col-lg-4 col-md-12 blog">
        <h3>
          <a href="" class="title">Lorem ipsum dolor sit</a>
        </h3>
        <span class="article-date">Thursday, March 15, 2018</span>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti quos dolores et quas...
        </p>
      </div>
      <div class="col-lg-4 col-md-12 blog">
        <h3>
          <a href="" class="title">Lorem ipsum dolor sit</a>
        </h3>
        <span class="article-date">Thursday, March 15, 2018</span>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti quos dolores et quas...
        </p>
      </div>
      <div class="col-lg-4 col-md-12 blog">
        <h3>
          <a href="" class="title">Lorem ipsum dolor sit</a>
        </h3>
        <span class="article-date">Thursday, March 15, 2018</span>
        <p>
          At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
          praesentium voluptatum deleniti atque corrupti quos dolores et quas...
        </p>
      </div>
    </div>

    <br />

    <div class="row">
      <div class="col-12" style="text-align: center">
        <a class="btn btn-sm btn-outline-primary" href="">Visit blog</a>
      </div>
    </div>

  </div>
  <!-- end blog -->