<!-- blog -->

<head>
  <meta name="description" content="Want to know more about the Julia language and its community? Click here to read the latest developments regarding the Julia Programming Language."/>
</head>

<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 language-features "><hr/></div>
      <div class="col-lg-4 col-md-6 language-features section-heading">
        <h2 class="lead secondary-heading">
          Recent Blog Posts
        </h2>
      </div>
      <div class="col-lg-4 col-md-3 language-features"><hr/></div>
    </div>

    <br />

    <div class="row">
        {% for post in site.categories.blog limit:3 %}
          <div class="col-lg-4 col-md-12 blog">
            <h3>
              <a href="{{ post.url }}" class="title">{{ post.title }}</a>
            </h3>
            <span class="article-date">{{ post.date | date_to_string }}</span>
            <p>
                {{ post.snippet | truncatewords:20 }}
            </p>
          </div>
        {% endfor %}
      </div>

      <br />

      <div class="row">
        <div class="col-12" style="text-align: center">
          <a class="btn btn-sm btn-outline-primary" href="/blog">Visit blog</a>
        </div>
      </div>

  </div>
  <!-- end blog -->
