<!-- contact -->
<div class="container-fluid alt-color">
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 red-heading"><hr/></div>
        <div class="col-lg-4 col-md-6 red-heading section-heading">
          <h2 class="lead secondary-heading">
            Talk to us
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 red-heading"><hr/></div>
      </div>

      <br />

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network discourse">
            <h4><a href="https://discourse.julialang.org/">Discourse</a></h4>
            <p>
              Discussion forums
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network github">
            <h4><a href="https://github.com/JuliaLang/julia">Github</a></h4>
            <p>
              Source code and development
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network youtube">
            <h4><a href="https://www.youtube.com/user/JuliaLanguage">YouTube</a></h4>
            <p>
              JuliaCon and Julia related videos
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network twitter">
            <h4><a href="https://twitter.com/search?q=%23julialang">Twitter</a></h4>
            <p>
              Tweet your thoughts with #JuliaLang
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

    </div>

    <br />
  </div>
  <!-- end contact -->
