<!-- contact -->

<head>
  <meta name="description" content="Get in touch with us on Discourse, Github, Twitter, Youtube, Bilibili, and other channels. We're here to help."/>
</head>

<div class="container-fluid alt-color">
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
        <div class="col-lg-4 col-md-6 ecosystem section-heading">
          <h2 class="lead secondary-heading">
            Talk to us
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
      </div>

      <br />

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network discourse">
            <h3>Discourse</h3>
            <p>
              <a href="https://discourse.julialang.org/">English</a>,
              <a href="https://discourse.juliacn.com/">Chinese</a>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network github">
            <h3>Github</h3>
            <p>
              <a href="https://github.com/JuliaLang/julia">Source code</a> and development
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

      <div class="row">
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network youtube">
            <h3>Videos</h3>
            <p>
              <a href="https://www.youtube.com/user/JuliaLanguage">YouTube</a>,
              <a href="https://space.bilibili.com/359782282">Bilibili (Chinese)</a>
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6">
          <div class="social-network twitter">
            <h3>Twitter</h3>
            <p>
              Tweet your thoughts with <a href="https://twitter.com/search?q=%23julialang">#JuliaLang</a>
            </p>
          </div>
        </div>
        <div class="col-lg-2 col-md-0 col-sm-0"></div>
      </div>

    </div>

    <br />
  </div>
  <!-- end contact -->
