<footer class="container-fluid footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Download</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Documentation</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Packages</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Community</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Learning</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Help</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Active</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
  </footer>