<footer class="container-fluid footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Download</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="downloads/index.html">Julia v</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="downloads/index.html">Julia v0.7.0-rc2</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Documentation</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://docs.julialang.org/en/stable/">Stable</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.julialang.org/en/latest/">Latest</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Packages</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://juliaobserver.com">Julia Observer</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://pkg.julialang.org/pulse.html">Ecosystem Pulse</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Community</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://discourse.julialang.org">Discourse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julialang.slack.com/">Slack</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Learning</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/JuliaLanguage/">YouTube Channel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julialang.org/learning/">Other Resources</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h6>Research</h6>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/publications/">Publications</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julia.mit.edu/">MIT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
  </footer>
