<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-28835595-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-28835595-1');
</script>
<!-- End Google Analytics -->

<footer class="container-fluid footer-copy">
    <div class="container">
      <div class="row">
        <div class="col-md-10 py-2">
          <p>
            Julia is a NumFocus project. We thank Fastly for their generous infrastructure support.
          </p>
          <p>
            Donations help pay for community resources such as CI, Discourse, workshops, travel, JuliaCon, and other such needs. For larger sponsorships, please contact sponsorship@julialang.org.
          </p>
          <p>
            ©{{ site.time | date: '%Y' }} JuliaLang. All rights reserved.
          </p>
        </div>
        <div class="col-md-2 py-2">
          <a class="btn btn-success" href="https://www.flipcause.com/widget/widget_home/MjI1Nw==">Donate</a>
        </div>
      </div>
    </div>
</footer>
