<script type="text/javascript">//<!--
    var playlistId = 'PLP8iPy9hna6Sdx4soiGrSefrmOPdUWixM',
        videoCount = 62,
        index = Math.floor(Math.random() * videoCount),
        videoIds = [
    "nnL7yLMVu6c", "gQ1y5NUD_RI", "PrXUl0sanro", "sQvNNj3MthQ",
    "RiL520G27Y4", "XJAQ24NS458", "IqNUcXmbWWY", "5C6GK5ACK5c",
    "OnZBioDUcco", "DDKhHiJWryw", "k71RYq2eK50", "x-93-IDFdxM",
    "p43bLEM-nmk", "a8wFVOoZOpk", "RYZkHudRTvI", "hdCURYg05jE",
    "RVnYRk_6wvE", "mbG-rqDCNqs", "L0rx_Id8EKQ", "DgAcyUYfus4",
    "bYaQ70DEXQM", "7fyIqx3v_MQ", "B9JKSWdpOn8", "AyeArSTzas8",
    "pYYmnBma9qk", "Gtyc_elUgGY", "xd5OEjh5AjQ", "xpxqAmzS460",
    "Jt5sv-8iRGc", "PluP562Xdv4", "z4Zcud2vE0s", "9T3R14R3X7k",
    "lSr0oRfyd1Y", "lf1_FhMR7xA", "QLWhsZ3yzBk", "Sq7DEnV4dfI",
    "QThApV3HIxc", "kogTKuytg1g", "2v5k28F80BQ", "o40OpLe2k7Q",
    "6zrQuq5mODQ", "Qito5AGSv4s", "j9w8oHfG1Ic", "UKfM7EopMe0",
    "dgfIIZ5yA4E", "GvLhseZ4D8M", "ljySoebYylE", "YdgMJ37CDws",
    "MJzRf3Exlqc", "MjERK9Xajrg", "6ezQ0qNjSfk", "IvOFVQgLDgg",
    "Xqfa_irN69g", "KAN8zbM659o", "19zm1Fn0S9M", "0F8tC3ofH4g",
    "o_-XZ6BgLS4", "OB8BclL_Tmo", "NwyKz2KLdtY", "1ADzfsVp4OI",
    "xUP3cSKb8sI", "7LNeR299q88"
        ],
        videoUrl = 'https://www.youtube.com/embed/' +
            videoIds[index-1] + '?list=' + playlistId + '&index=' + index,
        videoFrame = document.getElementById('juliacon-player');

    document.write('<div style="text-align: center"><iframe width="560" height="315" src="' + videoUrl + '" frameborder="0" allowfullscreen></iframe></div>')

//-->
</script>
