<!-- jumbotron -->
<div class="jumbotron" style="text-align: center;" id="main-jumbo">
  <div class="container page-heading">
    <h1 class="main-heading">
      <div class="swapout-heading" id="words1">People</div>
      <div class="static-heading">are using Julia to do amazing things with</div>
      <div class="swapout-heading" id="words2">code.</div>
    </h1>
    <div class="secondary-heading">
      What will <em>you</em> do?
    </div>

    <div class="row">
      <div class="col-sm-0 col-md-1 col-lg-2 col-xl"></div>
      <div class="col-sm-6 col-md-5 col-lg-4 col-xl mb-3">
        <a class="btn btn-success btn-lg btn-block" href="/downloads" role="button">Download {{ page.julia_version }}</a>
      </div>
      <br />
      <div class="col-sm-6 col-md-5 col-lg-4 col-xl mb-3">
        <a class="btn btn-primary btn-lg btn-block" href="//docs.julialang.org" role="button">Documentation</a>
      </div>
      <div class="col-sm-0 col-md-1 col-lg-2 col-xl"></div>
    </div>
    <br />
    <div clsss="row">
      <a class="github-button" href="https://github.com/JuliaLang/julia" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star JuliaLang/julia on GitHub">Star</a>
    </div>
  </div>
</div>
<!-- end jumbotron -->
