<!-- jumbotron -->
<div class="container">
  <div class="jumbotron" style="text-align: center;" id="main-jumbo">
    <div class="container page-heading">
      <h1 class="main-heading">
        <div class="swapout-heading" id="words1">People</div>
        <div class="static-heading">are using Julia to do amazing things with</div>
        <div class="swapout-heading" id="words2">code.</div>
      </h1>
      <p class="secondary-heading">
        What will you do?
      </p>

      </br/>
      <div class="row">
        <div class="col-lg-3 col-md-1 col-sm-1"></div>
        <div class="col-lg-3 col-md-5 col-sm-5">
          <a class="btn btn-success btn-lg btn-block" href="/downloads" role="button">Download {{ page.julia_version }}</a>
        </br/>

        </div>
        <div class="col-lg-3 col-md-5 col-sm-5 docs">
          <a class="btn btn-primary btn-lg btn-block" href="//docs.julialang.org" role="button">Documentation</a>
        </br/>
        </div>
        <div class="col-3 col-md-1 col-sm-1"></div>
      </div>
      <div clsss="row">
        <a class="github-button" href="https://github.com/JuliaLang/julia" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star JuliaLang/julia on GitHub">Star</a>
      </div>
    </div>
  </div>
</div>
<!-- end jumbotron -->
