<!-- julia in a nutshell -->
<div class="container pt-sm-2">
  <div class="row">
    <div class="col-lg-4 col-md-3 language-features "><hr/></div>
    <div class="col-lg-4 col-md-6 language-features section-heading">
      <h2 class="lead secondary-heading">
        Julia in a Nutshell
      </h2>
    </div>
    <div class="col-lg-4 col-md-3 language-features"><hr/></div>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-4 col-md-6 feature">
      <h4>Julia is fast!</h4>
      <p>
        Julia was designed from the beginning for <a href="/benchmarks/">high performance</a>.
        Julia programs compile to efficient native code for multiple platforms via LLVM.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>Dynamic</h4>
      <p>
        Julia is dynamically-typed, feels like a scripting language, and has good support
        for interactive use.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>Optionally Typed</h4>
      <p>
        Julia has a rich language of descriptive datatypes, and type declarations can
        be used to clarify and solidify programs.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 feature">
      <h4>General</h4>
      <p>
        Julia uses multiple dispatch as a paradigm, making it easy to express
        many object-oriented and functional programming patterns.
        The standard library provides asynchronous I/O, process control, logging, profiling,
        a package manager, and more.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>Technical</h4>
      <p>
        Julia excels at numerical computing. Its syntax is great for math, many numeric
        datatypes are supported, and parallelism is available out of the box.
        Julia's multiple dispatch is a natural fit for defining number and array-like
        datatypes.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h4>Composable</h4>
      <p>
        Julia packages naturally work well together. Matrices of unit quantities, or data table
        columns of currencies and colors, just work --- and with good performance.
      </p>
    </div>
  </div>

</div>
<!-- end julia in a nutshell -->
