<!-- julia in a nutshell -->
<head>
  <meta name="description" content="Julia is a fast, dynamic, optionally typed, easy to use, and open source language. Find out more about JuliaLang here."/>
</head>

<div class="container pt-sm-2">
  <div class="row">
    <div class="col-lg-4 col-md-3 language-features "><hr/></div>
    <div class="col-lg-4 col-md-6 language-features section-heading">
      <h2 class="lead secondary-heading">
        Julia in a Nutshell
      </h2>
    </div>
    <div class="col-lg-4 col-md-3 language-features"><hr/></div>
  </div>

  <br />

  <div class="row">
    <div class="col-lg-4 col-md-6 feature">
      <h3>Julia is fast!</h3>
      <p>
        Julia was designed from the beginning for <a href="/benchmarks/">high performance</a>.
        Julia programs compile to efficient native code for <a href="https://julialang.org/downloads/#support-tiers">multiple platforms</a> via LLVM.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h3>Dynamic</h3>
      <p>
        Julia is <a href="https://docs.julialang.org/en/v1/manual/types/">dynamically-typed</a>, feels like a scripting language, and has good support
        for <a href="https://docs.julialang.org/en/v1/stdlib/REPL/">interactive</a> use.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h3>Optionally typed</h3>
      <p>
        Julia has a <a href="https://docs.julialang.org/en/v1/manual/types/">rich language of descriptive datatypes</a>, and type declarations can
        be used to clarify and solidify programs.
      </p>
    </div>

    <div class="col-lg-4 col-md-6 feature">
      <h3>General</h3>
      <p>
        Julia uses <a href="https://docs.julialang.org/en/v1/manual/methods/">multiple dispatch</a> as a paradigm, making it easy to express
        many object-oriented and <a href="https://docs.julialang.org/en/v1/manual/metaprogramming/">functional</a> programming patterns.
        It provides <a href="https://docs.julialang.org/en/v1/manual/networking-and-streams/">asynchronous I/O</a>, <a href="https://github.com/JuliaDebug/Debugger.jl">debugging</a>, <a href="https://docs.julialang.org/en/v1/stdlib/Logging/">logging</a>, <a href="https://docs.julialang.org/en/v1/manual/profile/">profiling</a>,
        a <a href="https://docs.julialang.org/en/v1/stdlib/Pkg/index.html">package manager</a>, and more.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h3>Easy to use</h3>
      <p>
        Julia has high level syntax, making it an accessible language for programmers from any background or experience level. <a href="https://github.com/JuliaLang/Microbenchmarks/blob/master/perf.jl">Browse the Julia microbenchmarks</a> to get a feel for the language.
      </p>
    </div>
    <div class="col-lg-4 col-md-6 feature">
      <h3>Open source</h3>
      <p>
        Julia is provided under the <a href="https://github.com/JuliaLang/julia/blob/master/LICENSE.md">MIT license</a>, free for everyone to use. All <a href="https://github.com/JuliaLang/julia">source code</a> is publicly viewable on GitHub.
      </p>
    </div>
  </div>

</div>
<!-- end julia in a nutshell -->
