<div class="links">
  <p>
    <a href="/">julia</a>&nbsp;|
    <a href="https://github.com/JuliaLang/julia">source</a>&nbsp;|
    <a href="/downloads/">downloads</a>&nbsp;|
    <a href="http://docs.julialang.org/">docs</a>&nbsp;|
    <a href="http://pkg.julialang.org/">packages</a>&nbsp;|
    <a href="/blog/">blog</a>&nbsp;|
    <a href="/community/">community</a>&nbsp;|
    <a href="/learning/">learning</a>&nbsp;|
    <a href="/teaching/">teaching</a>&nbsp;|
    <a href="/publications/">publications</a>&nbsp;|
    <a href="http://juliacon.org">juliacon</a>
  </p>
</div>
