<div class="links">
  <p> <a href="/">julia</a>
    | <a href="https://github.com/JuliaLang/julia">source</a>
    | <a href="/downloads/">downloads</a>
    | <a href="http://docs.julialang.org/">docs</a>
    | <a href="/blog/">blog</a>
    {% if site.server %}
    | <a href="/drafts/">drafts</a>
    {% endif %}
    | <a href="/community/">community</a>
    | <a href="/teaching/">teaching</a>
    | <a href="/publications/">publications</a>
    | <a href="/gsoc/2014/">gsoc 2014</a>
    | <a href="http://juliacon2014.org">juliacon 2014</a>
    | <a href="http://feeds.feedburner.com/JuliaLang">rss</a>
  </p>
</div>
