<ul class="links">
  {% for item in site.navigation %}
      {% assign class = nil %}
      {% if page.url contains item.url and item.url != '/' %}
          {% assign class = 'active' %}
      {% endif %}
      {% if page.url == '/' and item.url == '/' %}
          {% assign class = 'active' %}
      {% endif %}
      {% assign prefix = site.baseurl %}
      {% if item.url contains 'http://' or item.url contains 'https://' %}
        {% assign prefix = nil %}
      {% endif %}
      <li><a href="{{ prefix }}{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
  {% endfor %}
</ul>

<!--

<style>
.banner-box .header {
  font-size: 1.5em;
}
@media (min-width: 830px) {
  .banner-box {
    float:left;
    width:50%;
  }
}
</style>

<div style="text-align:center">

<div class="banner-box">
<div class="header">JuliaCon 2016</div>
<p>
  Held on June 21<sup>st</sup> - 25<sup>th</sup> at MIT<br>
  <a href="http://juliacon.org">talks</a> |
  <a href="https://www.youtube.com/playlist?list=PLP8iPy9hna6SQPwZUDtAM59-wPzCPyD_S">videos</a>
</p>
</div>

<div class="banner-box">
<div class="header">Google Summer of Code</div>
<p>
  Julia gets 12 slots in the Google Summer of Code!<br />
  <a href="https://summerofcode.withgoogle.com/organizations/6453977159827456/">projects</a> |
  <a href="/soc/ideas-page.html">ideas list</a>
</p>
</div>

<div style="clear:both; border-top: 1px solid #ddd; margin-bottom:30px;"></div>


</div>
-->
