{% assign current_page = (page.url | downcase | split: '/') %}
{% comment %} {{current_page[1] | inspect}} {% endcomment %}
<!-- main menu -->
<div class="container py-3 py-lg-0">
  <nav class="navbar navbar-expand-lg navbar-light bg-light" id="main-menu">

    <a class="navbar-brand" href="/" id="logo">
      <img src="/v2/img/logo.svg" height="55" width="85" alt="JuliaLang Logo"/>
    </a>

    <button class="navbar-toggler ml-auto hidden-sm-up float-xs-left" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- li class="nav-item {% if current_page[1] == nil %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/">Home</a>
        </li -->
        <li class="nav-item {% if current_page[1] == 'downloads' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/downloads">Download</a>
        </li>
        <li class="nav-item flex-md-fill text-md-center">
          <a class="nav-link" href="//docs.julialang.org">Documentation</a>
        </li>
        <li class="nav-item {% if current_page[1] == 'blog' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/blog/">Blog</a>
        </li>
        <li class="nav-item {% if current_page[1] == 'community' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/community">Community</a>
        </li>
        <li class="nav-item {% if current_page[1] == 'learning' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/learning">Learning</a>
        </li>
        <li class="nav-item {% if current_page[1] == 'publications' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/research">Research</a>
        </li>
        <li class="nav-item {% if current_page[1] == 'soc' %} active {% endif %} flex-md-fill text-md-center">
          <a class="nav-link" href="/soc/ideas-page">JSoC</a>
        </li>
        <li class="nav-item donate flex-md-fill text-md-center">
          <a class="btn btn-success" href="https://numfocus.org/donate-to-julia">Donate</a>
        </li>
      </ul>
    </div>

  </nav>
</div>
<!-- end main menu -->
