<head>
  <meta name="description" content="Julia also supports various tools. Learn more about the Essential Tools such as the Debugger, the Profiler, Revise, and GPU Support here."/>
</head>

<!-- tools -->
<div class="container">
    <br/><br/>

    <div class="row">
      <div class="col-lg-3 col-md-2 language-features"><hr/></div>
      <div class="col-lg-6 col-md-8 language-features section-heading">
        <h2 class="lead secondary-heading">
          Essential Tools
        </h2>
      </div>
      <div class="col-lg-3 col-md-2 language-features"><hr/></div>
    </div>

    <br />

    <div class="row ides">
      <div class="col-lg-3 col-md-6 ide ide-feature">
        <h3>Debugger</h3>
          <img src="images/Debug.png" height="85" width="85" alt="Debugger" />
        </a>
        <h4 class="outer-link">
          <a class="link extra-link" href="https://github.com/JuliaDebug/Debugger.jl" target="_blank">Debugger.jl</a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6 ide ide-feature">
        <h3>Profiler</h3>
          <img src="images/profile.png" height="85" width="85" alt="Profiler Logo" />
        </a>
        <h4 class="outer-link">
          <a class="link extra-link" href="https://docs.julialang.org/en/v1/manual/profile/" target="_blank">Profile (Stdlib)</a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6 ide ide-feature">
        <h3>Revise</h3>
          <img src="images/revise.png" height="85" width="85" alt="Revise Logo" />
        </a>
        <h4 class="outer-link">
          <a class="link extra-link" href="https://github.com/timholy/Revise.jl" target="_blank">Revise.jl</a>
        </h4>
      </div>
      <div class="col-lg-3 col-md-6 ide ide-feature">
        <h3>GPUs</h3>
          <img src="images/gpu.png" height="85" width="85" alt="Julia GPU Logo" />
        </a>
        <h4 class="outer-link">
          <a class="link extra-link" href="https://github.com/JuliaGPU" target="_blank">JuliaGPU</a>
        </h4>
      </div>
    </div>
  </div>
  <!-- end tools -->
