<!-- videos -->
<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 language-features "><hr/></div>
      <div class="col-lg-4 col-md-6 language-features section-heading">
        <h2 class="lead secondary-heading">
          Featured videos
        </h2>
      </div>
      <div class="col-lg-4 col-md-3 language-features"><hr/></div>
    </div>

    <div class="row alt-color">
      <div class="col-lg-4 col-md-12 video">
        <div style="text-align: center"><iframe width="300" src="https://www.youtube.com/embed/1jN5wKvN-Uk" frameborder="0" allowfullscreen></iframe></div>
        {% comment %}
        {% include youtubeplayer.html %}
        {% endcomment %}
      </div>

      <div class="col-lg-4 col-md-12 video">
        <div style="text-align: center"><iframe width="300" src="https://www.youtube.com/embed/_E2zEzNEy-8" frameborder="0" allowfullscreen></iframe></div>
        {% comment %}
        {% include youtubeplayer.html %}
        {% endcomment %}
      </div>

      <div class="col-lg-4 col-md-12 video">
        <div style="text-align: center"><iframe width="300" src="https://www.youtube.com/embed/GBi__3nF-rM" frameborder="0" allowfullscreen></iframe></div>
        {% comment %}
        {% include youtubeplayer.html %}
        {% endcomment %}
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="text-align: center">
        <a class="btn btn-sm btn-outline-primary" href="https://www.youtube.com/user/JuliaLanguage">Julia Channel on YouTube</a>
      </div>
    </div>
  </div>
  <!-- end videos -->
