<!-- videos -->
<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 language-features "><hr/></div>
      <div class="col-lg-4 col-md-6 language-features section-heading">
        <h2 class="lead secondary-heading">
          Featured videos
        </h2>
      </div>
      <div class="col-lg-4 col-md-3 language-features"><hr/></div>
    </div>

    <div class="row alt-color">
      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
        <!-- h6><a href="" class="link">Lorem ipsum dolor sit</a></h6 -->
      </div>

      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
        <!-- h6><a href="" class="link">Lorem ipsum dolor sit</a></h6 -->
      </div>

      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
        <!-- h6><a href="" class="link">Lorem ipsum dolor sit</a></h6 -->
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="text-align: center">
        <a class="btn btn-sm btn-outline-primary" href="https://www.youtube.com/user/JuliaLanguage">Julia Channel on YouTube</a>
      </div>
    </div>
  </div>
  <!-- end videos -->
