<!-- videos -->
<div class="container">
    <br /><br />

    <div class="row">
      <div class="col-lg-4 col-md-3 language-features "><hr/></div>
      <div class="col-lg-4 col-md-6 language-features section-heading">
        <h2 class="lead secondary-heading">
          JuliaCon 2018
        </h2>
      </div>
      <div class="col-lg-4 col-md-3 language-features"><hr/></div>
    </div>

    <div class="row alt-color">
      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
      </div>
      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
      </div>
      <div class="col-lg-4 col-md-12 video">
        {% include youtubeplayer.html %}
      </div>
    </div>

    <div class="row">
      <div class="col-12" style="text-align: center">
        <a class="btn btn-sm btn-outline-primary" href="https://www.youtube.com/user/JuliaLanguage">Julia Channel on YouTube</a>
        <a class="btn btn-sm btn-outline-primary" href="https://www.youtube.com/playlist?list=PLP8iPy9hna6Qsq5_-zrg0NTwqDSDYtfQB">JuliaCon 2018 videos</a>
      </div>
    </div>
  </div>
  <!-- end videos -->
