<script type="text/javascript">//<!--
  var playlist2018 = 'PLP8iPy9hna6Qsq5_-zrg0NTwqDSDYtfQB',
      videoCount = 100,
      index = Math.floor(Math.random() * videoCount),
      videos2018 =
        [ "1jN5wKvN-Uk", "__gMirBBNXY", "HgFmiT5p0zU", "gGYcSjrqbjc", "Q9OLOqEhc64", "zX4ZNfvw1cw", "KuM0AGaN09s",
          "MYbl_za-x9U", "zncgE_yfyHo", "Q0L-at3PyU8", "-_PcJGdpwb4", "JCvT9Rnhyvk", "2_zSJ4wJ8tg", "-AazDsvrcpU",
          "2G4ptA5J1bk", "pVNOf5kgpE4", "lyRW1XOwnsg", "wFzkNSoKo0U", "L3tBcUxJsvU", "7E83Qkc6ZDg", "u1vYxahtyx8",
          "G1HJnaRxMLQ", "FUbjxHRa39E", "LlIpBSESukc", "8_dpeOMoQmA", "2yd84zMpzL8", "CD4EiDNeNg4", "RDxAy_zSUvg",
          "pxP67ElwUM4", "uFXRkiKWqQU", "aMxBchgf0tE", "rz3BL2gB_Ak", "bC9M0Lgept8", "oOvrUO6aYMo", "oCvbqKE2tWA",
          "re4ggpDgoR0", "RS4hJ4oBr9c", "H9734QKifKg", "wpV0Nz-93Hk", "eq5_ml0Tp8A", "ZmvC-G4U0WM", "Ns09HR43zEY",
          "2mLeB6SEKmo", "53AS7uxBMRs", "Y95fAipREHQ", "_E2zEzNEy-8", "XWIZ_dCO6X8", "_XjtR_Jbl6Y", "pTZOKB10rpY",
          "vWZzmV7mHiw", "M9ODOCIYS4c", "OD-BSn4FZ2A", "wSWRNM4G12w", "Ip8Ci5KUVRc", "cIgmU5RX5mo", "CE1x130lYkA",
          "adubwDKh5bs", "RlQQvQhMphY", "kSlQpzccRaI", "HORLJrsghs4", "YCgtEXaoS40", "JFrzrTYFYbU", "2e0PBGSaQaI",
          "BBUrQId0HhQ", "UNsx4BSyc_8", "Y6tNZXaFi_E", "pZ2RBe9nwwM", "7y-ahkUsIrY", "KQ4Vtsd9XNw", "9J54K6HbPNQ",
          "aDXDnTT7cps", "R81pmvTP_Ik", "QBT0wq2WBHE", "YVABTDrQ0eQ", "b7Dk_CPfS6M", "dFyr8U-SY2M", "dBvXZqZRSsc",
          "dy7tXk403bM", "kWqFRGLdqc4", "jS9eouMJf_Y", "Rp7sTl9oPNI", "8QGo98705jY", "OZuQoxTPoyM", "qo25P5TURuw",
          "okGybBmihOE", "7tzFRIiseJI", "2oXSA2w-p28", "SeqAQHKLNj4", "f7RNuOLDyM8", "MAhLlLOxWGg", "kSp6d3qSb3I",
          "B03F6EFUm78", "Kbrj4EZbGWs", "EahBURR9b1U", "9I2SBKGOfS4", "cPYgipsg4DM", "ehpeQvEy41k", "21_wokgnNog",
          "BmVd7pw6Trc", "baR02tlea5Y" ]
      videoUrl = 'https://www.youtube.com/embed/' +
          videos2018[index-1] + '?list=' + playlist2018 + '&index=' + index,
      videoFrame = document.getElementById('juliacon-player');
  document.write('<div style="text-align: center"><iframe width="700" height="400" src="' + videoUrl + '" frameborder="0" allowfullscreen></iframe></div>')
//-->
</script>
