<meta name="description" content="Watch what unfolded at JuliaCon 2017 here. The latest developments, optimizations, and features happen right here, at JuliaCon."/>

<script type="text/javascript">
//<!--
  var playlist2019 = 'PLP8iPy9hna6StY9tIJIUN3F_co9A0zh0H';
  var videos2019 = [
    "mSgXWpvQEHE", "IE39JoVIaEw", "dXrponYshxo", "RcdzunYjgpI",
    "b_743P8XuvA", "ez-KVi0leOw", "m3c8Z6HBn48", "qf9oA09wxXY",
    "HfiRnfKxI64", "RRY0OXc52Ns", "_bvb8X4DT90", "OO3BBkGEMV8",
    "yx6lBSHqGfc", "Jr6HcyHK_Q4", "m33xrN50W3g", "i8LGmT0mKnE",
    "kc9HwsxE1OY", "Z1ikOmEuM8w", "JCFej--XER0", "igd1tuS2OVM",
    "zJbj2cBRDTM", "bGYSae90hA0", "C4vlq647DC4", "7z2_1GdFtL0",
    "BjMgo3liDZ8", "5ZgEp36E71Y", "MF6K5ihilZc", "LMWefEzsbOk",
    "TPuJsgyu87U", "K8rPZVotroY", "gXDI4DSp04c", "BnGBX_DV3xY",
    "8vijCXQIQX0", "QeG1IWeVKek", "Et-5AncK8TU", "JazJ9Y1AvaU",
    "-ZeJXpCewew", "NOJbXnCVryM", "p--assaV64g", "N7YHAcv8DEk",
    "SU0SmQnnGys", "b90qqbYJ58Q", "nXBZZ0bxIwY", "kT1pTnqQebI",
    "OcUXjk7DFvU", "cTmqmPcroFo", "lTR6IPjDPlo", "4mZmlSNnsrI",
    "WGT9_cEImAk", "brbzbxV_OiY", "NrHZQaobhDM", "UlAew_s6KS0",
    "FGfx8CQHdQA", "K5VNr2o9Qpk", "M6hl2si20NE", "1TipY6g9IzE",
    "oxIsFUfaOqU", "jj8Iy7FFMeM", "8srePpkofIU", "EbJuaF3A9Kw",
    "VT8RAEdMoAk", "eQjDN0JQ6-s", "fzy7yNfJVBo", "gSiQpKHZk7I",
    "ByFglWPqNlg", "WJneK7OjqMQ", "kC8LKQ_YjyM", "2Cd4T0EzYKQ",
    "A2ypJkA26co", "SWE-weSlAj8", "zr4D3-rf-jg", "MaSEGFsLW-c",
    "ofWy5kaZU3g", "vZyv9Mb7SQE", "8Zfv9bySFBw", "NM2jhQm5Adk",
    "8wsPzS-wY28", "1_S3aU3P3rE", "c5UKzeTXd6c", "15xJg13wTbE",
    "cdwLJCb45Kk", "9cedY6zyo8I", "C65vYWeN7-k", "wxN4lKR3kFw",
    "vUxrtqY84AM", "A3_vpuFqb-0", "f-CaQMTqjPk", "QdGrR0inYj8",
    "q-LV4zoxc-E", "b3WfqXZRKpA", "tMhzQDVMFuc", "UPIKafShwFw",
    "tldyDnjLozo", "GfRSPEhewwM", "29dGlzzC6SI", "dIcdilBeSxo",
    "B7mc1wXPZR8", "o8UBszD_zn4", "JsVSHeGAwGY", "Tfp1WEdYfqk",
    "IJqnx9ShRlM", "HHjvv5yWMmc", "QyW6iS8L9ug", "_B1Qmp980SY",
    "Z2yT1ZdOor8", "xzNetCWBSIc", "gD5U_U9kZk8", "bnKX2uATrzA",
    "NB_XjatEWyw", "Ed6LklkKL6c", "SVsA55h8pdg", "OMBda8jjXT0",
    "12z5MzoFQOM", "H-Oof2wS-0A", "YbLZceTKhZ4", "AzVnUlrZqNs"
  ];
  var index = Math.floor(Math.random() * videos2019.length);
  var videoUrl = 'https://www.youtube.com/embed/' + videos2019[index] + '?list=' + playlist2019;
  document.write('<div style="text-align: center"><iframe width="700" height="400" src="' + videoUrl + '" frameborder="0" allowfullscreen></iframe></div>')
//-->
</script>
