@font-face {
    font-family:"Futura LT Bold";
    src:url("../font/FuturaLT-Bold.woff2") format("woff2"), url("../font/FuturaLT-Bold.woff") format("woff");
    font-style:normal;font-weight:400;
}


@font-face {
    font-family:"Futura LT Medium";
    src:url("../font/FuturaLT.woff2") format("woff2"), url("../font/FuturaLT.woff") format("woff");
    font-style:normal;font-weight:400;
}

@font-face {
    font-family: "JuliaMono";
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono-webfonts/JuliaMono-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "JuliaMono";
    src: url("https://cdn.jsdelivr.net/gh/cormullion/juliamono-webfonts/JuliaMono-Bold.woff2") format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
