/* correction to the artifacts created via franklin */

.container h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color:black;
}

.container h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: none;
    color: inherit;
}

.container .tight-list p {
    margin-bottom: 0;
}

.container h3 {
    margin-top: 0.8em;
}

.container.blog-title h3 {
    font-size: 18px;
    margin-bottom: 1em;
}

.author-info {
    text-align: center;
    background-color: #F0F0F0;
    padding: 20px;
    padding-top: 30px;
    margin-top: 2em;
    border-radius: 5px;
}

.author-img {
    border-radius: 50%;
}
.author-social {
    margin-top: 1em;
}
.author-social ul {
    list-style: none;
}
.author-social-icons {
    margin: 0;
    padding: 0;
}
