/* correction to the artifacts created via franklin */

.container h1 > a, h2 > a, h3 > a, h4 > a, h5 > a, h6 > a {
    color:black;
}

.container h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    text-decoration: none;
    color: inherit;
}

.container .tight-list p {
    margin-bottom: 0;
}

.container h3 {
    margin-top: 0.8em;
}

.container.blog-title h3 {
    font-size: 18px;
    margin-bottom: 1em;
}

.author-info {
    text-align: center;
    background-color: #F0F0F0;
    padding: 20px;
    padding-top: 30px;
    margin-top: 2em;
    border-radius: 5px;
}

.author-img {
    border-radius: 50%;
}
.author-social {
    margin-top: 1em;
}
.author-social ul {
    list-style: none;
}
.author-social-icons {
    margin: 0;
    padding: 0;
}

.note {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-radius: 4px;
    background-color: #d0d0d0;
    border-color: #404040;
}

.exercise {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-radius: 4px;
    background-color: #ffd8d8;
    border-color: #404040;
}

.answer {
    padding: 8px 35px 8px 14px;
    margin-bottom: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    border-radius: 4px;
    background-color: #d8ffd8;
    border-color: #404040;
}

/* Specific colours for code highlighting */

.hljs-metaj, .hljs-metas, .hljs-metap { font-weight: bold; }

.hljs-meta  { color: #b14e8f; } /* @... */
.hljs-metaj { color: rgb(25, 179, 51); }  /* julia> */
.hljs-metas { color: red; }               /* shell> */
.hljs-metap { color: rgb(51, 131, 231); } /* pkg> */

.hljs-string {color: #ca4418;}
.hljs-subst { color: inherit;}

.admonition {
    background-color: #b5b5b5;
    border-style: solid;
    border-width: 1px;
    border-color: #363636;
    border-radius: 4px;
    font-size: 1rem; }
    .admonition-note {
      background-color: #3d6e91;
      border-color: #209cee; }
      .admonition-note > .admonition-title {
        background-color: #209cee;
        color: #fff; }
      .admonition-note > .admonition-body {
        color: rgba(0, 0, 0, 0.7); }
    .admonition-warn {
      background-color: #fff3c5;
      border-color: #ffdd57; }
      .admonition.warn > .admonition-title {
        background-color: #ffdd57;
        color: rgba(0, 0, 0, 0.7); }
      .admonition-warn > .admonition-body {
        color: rgba(0, 0, 0, 0.7); }
  
  .admonition-title {
    color: #fff;
    background-color: #363636;
    align-items: center;
    font-weight: 700;
    justify-content: space-between;
    line-height: 1.25;
    padding: 0.75em;
    position: relative; }
  
  .admonition-body {
    color: #222222;
    padding: 1em 1.25em; }
    .admonition-body pre {
      background-color: whitesmoke; }
    .admonition-body code {
      background-color: rgba(0, 0, 0, 0.05); }
  