{{ define "main" }}
  {{ partial "mainmenu.html" . }}

  <br /><br />

  <div class="container">

  <div id="blogpost">
    <h1>{{ .Title | safeHTML}}</h1>

    <p class="metadata">
      <span class="timestamp">{{ .Date.Format "02 January, 2006" }}</span>
      {{ if isset .Params "author" }}
      &nbsp;|&nbsp;
      <span class="author">{{ .Params.author | safeHTML }}</span>
      {{ else if isset .Params "authors" }}
      &nbsp;|&nbsp;
      <span class="author">
        {{ delimit .Params.authors ", " }}
      </span>
      {{ end }}
    </p>

    {{ .Content }}

  </div>

  {{ if isset .Params "trackbacks" }}
  <div id="trackbacks">
    <b>Trackbacks:</b><ul>
    {{ range .Params.trackbacks }}
      {{ range $index, $value := .trackback_hash }}
        <li><a href="{{ $value }}">{{ $index }}</a></li>
      {{ end }}
    {{ end }}
    </ul>
  </div>
  {{ end }}

  </div>
  </div>
  </div>

  <br />

  {{ partial "footermenu.html" . }}

  {{ partial "footer.html" . }}
{{ end }}
