.main { font-family: Georgia; }
.main pre { margin-left: auto; margin-right: auto; }
.main code { font-size: 90%; }
.main pre code { font-size: 90%; }
@media (min-width: 940px) {
  .main { max-width: 800px; margin-left: auto; margin-right: auto; }
  .blog-title { max-width: 800px; margin-left: auto; margin-right: auto; }
}
