{{ define "head" }}
<head>
  <meta name="description" content="These are the official latest binaries of Julia along with the instructions to download, install, and configure on macOS, Windows, and Linux. Download here."/>
</head>
{{ end }}

{{ define "main" }}
  {{ partial "mainmenu.html" . }}

  <br /><br />

  <div class="container">

    <h1>Download Julia</h1>

    <p>
      If you like Julia, please consider starring
      us <a href="https://github.com/JuliaLang/julia">on GitHub</a>
      and spreading the word!
      <br>
      <a class="github-button" href="https://github.com/JuliaLang/julia" data-size="large" data-show-count="true" aria-label="Star JuliaLang/julia on GitHub">Star</a>
    </p>

    <br />

    <p>
      We provide several ways for you to run Julia:
      <ul>
        <li> In the terminal using the built-in Julia command line using the binaries provided below.
        <li> Using <a href="https://docs.docker.com/">Docker</a> images from <a href = "https://hub.docker.com/_/julia">Docker Hub</a> maintained by the <a href="https://github.com/docker-library/julia">Docker Community</a>.
        <li> <a href="http://juliacomputing.com/products/juliapro.html">JuliaPro</a> by
          <a href="http://juliacomputing.com">Julia Computing</a>
          includes Julia and the <a href="http://junolab.org" >Juno IDE</a>, along with access to a curated set of packages for plotting, optimization, machine learning, databases and much more (requires registration).
      </ul>
    </p>

    <br />
    <p>
      Please see <a href="platform">platform specific instructions</a> for further installation instructions and if you have trouble installing Julia. If the provided download files do not work for you, please <a href="https://github.com/JuliaLang/julia/issues">file an issue in the Julia project</a>. Different OSes and architectures have varying <a href="#support-tiers">tiers of support</a>, and are listed at the bottom of this page.
    </p>

    <br />

    <h2>Current stable release: v1.3.1 (Dec 30, 2019)</h2>
    <p>
      Checksums for this release are available in
      both <a href="https://julialang-s3.julialang.org/bin/checksums/julia-1.3.1.md5">MD5</a>
      and <a href="https://julialang-s3.julialang.org/bin/checksums/julia-1.3.1.sha256">SHA256</a>
      formats.
    </p>

    <div class="row">
      <div class="col-12">
        <table class="downloads table table-hover table-bordered">
          <tbody>
            <tr>
              <th> Windows (.exe) <a href="platform#windows">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/1.3/julia-1.3.1-win32.exe">32-bit</a> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/1.3/julia-1.3.1-win64.exe">64-bit</a> </td>
            </tr>
            <tr>
              <th> macOS 10.8+ (.dmg) <a href="platform#macos">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/1.3/julia-1.3.1-mac64.dmg">64-bit</a> </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for x86 <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/1.3/julia-1.3.1-linux-i686.tar.gz">32-bit</a>
                (<a href="https://julialang-s3.julialang.org/bin/linux/x86/1.3/julia-1.3.1-linux-i686.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/1.3/julia-1.3.1-linux-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/x64/1.3/julia-1.3.1-linux-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for ARM <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.3/julia-1.3.1-linux-armv7l.tar.gz">32-bit (ARMv7-a hard float)</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.3/julia-1.3.1-linux-armv7l.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.3/julia-1.3.1-linux-aarch64.tar.gz">64-bit (AArch64)</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.3/julia-1.3.1-linux-aarch64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic FreeBSD Binaries for x86 <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.3/julia-1.3.1-freebsd-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.3/julia-1.3.1-freebsd-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Source </th>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.3.1/julia-1.3.1.tar.gz">Tarball</a>
                    (<a href="https://github.com/JuliaLang/julia/releases/download/v1.3.1/julia-1.3.1.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.3.1/julia-1.3.1-full.tar.gz">Tarball with dependencies</a>
                (<a href="https://github.com/JuliaLang/julia/releases/download/v1.3.1/julia-1.3.1-full.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v1.3.1">GitHub</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>


    <br />

    <h2>Long-term support (LTS) release: v1.0.5 (Sep 9, 2019)</h2>
    <p>
    Checksums for this release are available in
      both, <a href="https://julialang-s3.julialang.org/bin/checksums/julia-1.0.5.md5">MD5</a>
      and <a href="https://julialang-s3.julialang.org/bin/checksums/julia-1.0.5.sha256">SHA256</a>
      formats.
    </p>

    <div class="row">
      <div class="col-12">
        <table class="downloads table table-hover  table-bordered">
          <tbody>
            <tr>
              <th> Windows (.exe) <a href="platform#windows">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/1.0/julia-1.0.5-win32.exe">32-bit</a> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/1.0/julia-1.0.5-win64.exe">64-bit</a> </td>
            </tr>
            <tr>
              <th> macOS 10.8+ (.dmg) <a href="platform#macos">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/1.0/julia-1.0.5-mac64.dmg">64-bit</a> </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for x86 <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/1.0/julia-1.0.5-linux-i686.tar.gz">32-bit</a>
                (<a href="https://julialang-s3.julialang.org/bin/linux/x86/1.0/julia-1.0.5-linux-i686.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/1.0/julia-1.0.5-linux-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/x64/1.0/julia-1.0.5-linux-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for ARM <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.0/julia-1.0.5-linux-armv7l.tar.gz">32-bit (ARMv7-a hard float)</a>
                (<a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.0/julia-1.0.5-linux-armv7l.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.0/julia-1.0.5-linux-aarch64.tar.gz">64-bit (AArch64)</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.0/julia-1.0.5-linux-aarch64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic FreeBSD Binaries for x86 <a href="platform#linux-and-freebsd">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.0/julia-1.0.5-freebsd-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.0/julia-1.0.5-freebsd-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Source </th>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.0.5/julia-1.0.5.tar.gz">Tarball</a>
                    (<a href="https://github.com/JuliaLang/julia/releases/download/v1.0.5/julia-1.0.5.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.0.5/julia-1.0.5-full.tar.gz">Tarball with dependencies</a>
                (<a href="https://github.com/JuliaLang/julia/releases/download/v1.0.5/julia-1.0.5-full.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v1.0.5">GitHub</a> </td>
            </tr>
          </tbody>
        </table>

        <br />

      </div>
    </div>

    <br />

    <h2>Upcoming release: v1.4.0-rc1 (Jan 23, 2020)</h2>
    <p>
      We're currently testing release candidates for Julia v1.4.0, an upcoming minor release
      in the 1.x series of releases. We encourage developers and interested users to try it
      out and report any issues they encounter. As a prerelease, it should not be considered
      production-ready; it's intended to give users a chance to try out 1.4 with their code
      before the full release.
    </p>

    <div class="row">
      <div class="col-12">
        <table class="downloads table table-hover  table-bordered">
          <tbody>
            <tr>
              <th> Windows Self-Extracting Archive (.exe) <a href="platform.html#windows">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x86/1.4/julia-1.4.0-rc1-win32.exe">32-bit</a> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/winnt/x64/1.4/julia-1.4.0-rc1-win64.exe">64-bit</a> </td>
            </tr>
            <tr>
              <th> macOS 10.8+ Package (.dmg) <a href="platform.html#macos">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/mac/x64/1.4/julia-1.4.0-rc1-mac64.dmg">64-bit</a> </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for x86 <a href="platform.html#generic-binaries">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x86/1.4/julia-1.4.0-rc1-linux-i686.tar.gz">32-bit</a>
                (<a href="https://julialang-s3.julialang.org/bin/linux/x86/1.4/julia-1.4.0-rc1-linux-i686.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/x64/1.4/julia-1.4.0-rc1-linux-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/x64/1.4/julia-1.4.0-rc1-linux-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic Linux Binaries for ARM <a href="platform.html#generic-binaries">[help]</a></th>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.4/julia-1.4.0-rc1-linux-armv7l.tar.gz">32-bit (ARMv7-a hard float)</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/armv7l/1.4/julia-1.4.0-rc1-linux-armv7l.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.4/julia-1.4.0-rc1-linux-aarch64.tar.gz">64-bit (AArch64)</a>
                  (<a href="https://julialang-s3.julialang.org/bin/linux/aarch64/1.4/julia-1.4.0-rc1-linux-aarch64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Generic FreeBSD Binaries for x86 <a href="platform.html#generic-binaries">[help]</a></th>
              <td colspan="3"> </td>
              <td colspan="3"> <a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.4/julia-1.4.0-rc1-freebsd-x86_64.tar.gz">64-bit</a>
                  (<a href="https://julialang-s3.julialang.org/bin/freebsd/x64/1.4/julia-1.4.0-rc1-freebsd-x86_64.tar.gz.asc">GPG</a>)
              </td>
            </tr>
            <tr>
              <th> Source </th>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.4.0-rc1/julia-1.4.0-rc1.tar.gz">Tarball</a>
                    (<a href="https://github.com/JuliaLang/julia/releases/download/v1.4.0-rc1/julia-1.4.0-rc1.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/releases/download/v1.4.0-rc1/julia-1.4.0-rc1-full.tar.gz">Tarball with dependencies</a>
                (<a href="https://github.com/JuliaLang/julia/releases/download/v1.4.0-rc1/julia-1.4.0-rc1-full.tar.gz.asc">GPG</a>)
              </td>
              <td colspan="2"> <a href="https://github.com/JuliaLang/julia/tree/v1.4.0-rc1">GitHub</a> </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <br />

    <h2>Older Releases</h2>
    <p>
      Older releases of Julia for all platforms are available on the <a href="oldreleases">Older releases page</a>.
      Only the LTS and Stable releases are maintained.
    </p>

    <br />

    <h2>Nightly builds</h2>
    <p>
      Nightly builds of the current unstable development version of Julia are available on the
      <a href="nightlies">nightlies page</a>.
      These are intended as developer previews into the latest work and are not intended for
      normal use.
      Most users are advised to use the current release version of Julia, above.
    </p>

    <br />

    <h2>Download verification</h2>
    <p>
      All Julia binary releases are cryptographically secured using the traditional methods on each
      platform. macOS and Windows releases are codesigned with certificates that are
      verified by the operating system during installation. Linux and source tarballs
      are signed with GPG using <a href="/juliareleases.asc">this key</a>. 
    </p>

    <br />

    <h2 id='support-tiers'>Currently supported platforms</h2>
    <p>
      The platforms currently supported by Julia are listed below.
      They are divided into a tier system that ranks them based on
      level of support.
    </p>

    <div class="row">
      <div class="col-12">
        <table class="downloads table table-hover ">
          <tbody>
            <tr>
              <th> Operating System </th>
              <th> OS Version </th>
              <th> Architecture </th>
              <th> Support Tier </th>
            </tr>
            <tr>
              <td> macOS </td>
              <td> 10.8+ </td>
              <td> x86-64 (64-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <td rowspan="2"> Windows </td>
              <td rowspan="2"> 7+ </td>
              <td> x86-64 (64-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <!-- Windows cont. -->
              <td> i686 (32-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <td rowspan="7"> Linux </td>
              <td rowspan="7"> 2.6.18+ </td>
              <td> x86-64 (64-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> i686 (32-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> Nvidia PTX (64-bit) </td>
              <td> Tier 1 <a href="https://github.com/JuliaGPU/CUDAnative.jl">(External)</a> </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> ARMv7 (32-bit) </td>
              <td> Tier 2 </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> ARMv8 (64-bit) </td>
              <td> Tier 2 </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> x86-64 musl libc </td>
              <td> Tier 3 </td>
            </tr>
            <tr>
              <!-- Linux cont. -->
              <td> PowerPC (64-bit) </td>
              <td> Tier 3 </td>
            </tr>
            <tr>
              <td rowspan="2"> FreeBSD </td>
              <td rowspan="2"> 11.0+ </td>
              <td> x86-64 (64-bit) </td>
              <td> Tier 1 </td>
            </tr>
            <tr>
              <!-- FreeBSD cont. -->
              <td> i686 (32-bit) </td>
              <td> Tier 3 </td>
            </tr>
          </tbody>
        </table>
        <h3>Support tiers for the latest stable release of Julia</h3>
        <ul>
          <li>
            <b>Tier 1</b>:
            Julia is guaranteed to build from source and pass all tests on these platforms
            when built with the default options. Official binaries are always available and
            CI is run on every commit to ensure support is actively maintained.
          </li>
          <li>
            <b>Tier 2</b>:
            Julia is guaranteed to build from source using the default build options, but
            may or may not pass all tests. Official binaries are available on a case-by-case
            basis.
          </li>
          <li>
            <b>Tier 3</b>:
            Julia may or may not build. If it does, it is unlikely to pass tests. Binaries
            may be available in some cases. When they are, they should be considered
            <i>experimental</i>. Ongoing support is dependent on community efforts.
          </li>
          <li>
            <b>Tier 4</b>:
            Julia built at some point in the past, but is known not to build currently.
          </li>
        </ul>
      </div>
    </div>

  </div>
  <br />

  {{ partial "footermenu.html" . }}

  {{ partial "footer.html" . }}
{{ end }}
