---
---

html {
  font-size: 100%;
}

// Menu bar or drawer
#main-menu {
  background-color: #fff !important;
  padding: 0;

  li.nav-item {
    padding: 16px;
    border-bottom: 2px solid #fff;

    &:hover {
      background-color: #eee;
      border-bottom: 2px solid #CA3C32;
    }

    &.donate:hover {
      background-color: #fff;
      border-bottom: 0;
    }

    &.active {
      border-bottom: 2px solid #CA3C32;
    }
  }
}

// Alert bar at the top
#top-alert {
  padding-left: 0;
  padding-right: 0;

  .alert {
    margin-bottom: 0.2rem;
  }

  p {
    margin-bottom: 0;
  }
}

// Julia logo
#logo {
  padding: 0 20px 0 0;
  img {
    width: 85px;
    height: 55px;
  }
}

// Jumbotron
.jumbotron {
  background-image: url('../img/splash-img.png');
  background-repeat: repeat-x;
  background-size: auto 100%;

  a.link {
    color: #ccc;
  }
}
#main-jumbo {
  padding: 3rem 2rem;
}

// Page title Fade-in/fade-out words in the jumbotron
.page-heading {
  color: #fff;
  font-weight: 400;

  .secondary-heading {
    color: #ccc;
  }

  a {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
}

.swapout-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 2rem;
  padding-bottom: 5px;

  @media (max-width: 576px) {
    font-size: 1.5rem;
  }
}

.static-heading {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.secondary-heading {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.25rem;
  margin-bottom: 30px;

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.extra-link {
  font-size: 0.75rem;
  text-decoration: none !important;
}

// Section headings
.section-heading {
  .lead {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-weight: 700;
    font-size: 28px;
  }

  h2 {
    margin-bottom: 10px;
  }

  h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
  }
}

.blue-heading {
  text-align: center;
  color: #4D64AE;

  hr {
    background-color: #4D64AE;
  }
}

.red-heading {
  text-align: center;
  color: #CA3C32;

  hr {
    background-color: #CA3C32;
  }
}

.alt-color {
  background-color: #F2F2F2;
}

// Language features
.feature h4 {
  text-align: left;
  /* border-bottom: 1px solid #4D64AE; */
  padding-bottom: 5px;
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #4D64AE;
  font-size: 18px;
}
.feature p {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: left;
  text-justify: inter-character;
}

#ecosystem-tab {
  border: 0;
  width: 100%;
}
#ecosystem-tab .nav-item a {
  padding: 18px 0;
  border: 0;
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
#ecosystem-tab .nav-item a.active {
  border-top: 4px solid #CA3C32;
  color: #CA3C32;
}
#ecosystem-tab .nav-item a {
  color: #898989;
}
#ecosystem-tab-content div.tab-pane {
  background-color: #fff;
  /* border-left: 1px solid #ddd; */
  margin-left: -15px;
  margin-right: -15px;
  min-height: 300px;
  margin-bottom: 20px;
  /* padding: 20px; */
}

.ide, .blog, .video {
  background-color: #F2F2F2;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 20px solid #fff;
}

.feature {
  padding-bottom: 20px;
}
.feature .outer-link {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  text-align: center;
}
.ide-feature {
  text-align: center;
}

.editor-icon {
  text-align: center;
}
.editor-icon img {
  padding: 10px 0;
  height: 80px;
}

.packages {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
}

.blog {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  text-align: left;
}
.blog h3 {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-bottom: 0;
}
.blog h3 a {
  color: #4D64AE;
  display: block;
  min-height: 42px;
}
.blog .article-date {
  font-size: 12px;
  color: #999;
}
.blog p {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
}

.social-network {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 60px;
  background-size: 50px;
  border-bottom: 1px solid #ccc;
}
.social-network h4 {
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
.social-network.discourse {
  background-image: url("../img/discourse.png");
  margin-top: 14px;
}
.social-network.gitter {
  background-image: url("../img/gitter.png");
  margin-top: 14px;
}
.social-network.youtube {
  background-image: url("../img/youtube.png");
  margin-top: 14px;
  border-bottom: 0;
}
.social-network.twitter {
  background-image: url("../img/twitter.png");
  margin-top: 14px;
  border-bottom: 0;
}
.social-network.github {
  background-image: url("../img/github.png");
  margin-top: 14px;
}
.social-network.facebook {
  background-image: url("../img/facebook.png");
  margin-top: 14px;
  border-bottom: 0;
}

.video {
  text-align: left;
  /* font-family: "Futura LT Medium"; */
  font-family: "Roboto", sans-serif;
  background-color: #fff;
}
.video img {
  width: 100%;
}
.video h6 {
  padding: 10px;
  background-color: #F2F2F2;
}
.video a {
  font-size: 14px;
}

.btn {
  font-family: "Roboto", sans-serif;
}

.footer-menu {
  background-color: #394059;
  color: #fff;
  font-family: "Roboto", sans-serif;
}
.footer-menu h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}
.footer-menu ul.nav li a {
  padding: 3px 0;
  font-family: "Roboto", sans-serif;
  font-size: 13px;
  color: #fff;
}

.footer-copy {
  background-color: #2C2F3E;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  padding: 10px 0;
}
.footer-copy p {
  padding: 0;
  margin: 0;
}

h4.card-title {
	margin: 0;
	font-family: "Roboto";
	font-size: 1rem;
}

.card-header {
	padding: 0;
}

.tab-title {
  background-color: #CA3C32;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  padding: 18px 20px;
  border: 0;
  font-weight: 400;
  /* border-top: 4px solid #CA3C32; */
  color: #fff;
}

.nav-tabs {
    display:none;
}

@media(min-width: 768px) {
  .nav-tabs {
      display: flex;
  }

  .card {
      border: none;
  }

  .card .card-header {
      display:none;
  }

  .card .collapse{
      display:block;
  }

  .tab-title {
    display: none;
  }
}

@media(max-width: 767px) {
  .tab-pane {
      display: block !important;
      opacity: 1;
  }
  .social-network {
    border: 0;
  }
  .donate {
    display: none;
  }
}

@media(max-width: 576px) {
  .docs {
    margin-top: 20px;
  }
}

.btn-primary {
  background-color: #4D64AE;
  border-color: #4D64AE;
}
.link {
  color: #4D64AE;
}

.footer-menu-item {
  margin-top: 30px;
}

#ecosystem-tab-content div.tab-pane {
  padding: 10px;
  padding-top: 20px;
}

#ecosystem-tab-content div.tab-pane h4 {
  color: #CA3C32;
}
#ecosystem-tab-content div.tab-pane h6 {
  color: #CA3C32;
  font-weight: 600;
}

#ecosystem-tab-content div.tab-pane div.code-sample p {
  font-size: 14px;
}

img.ecosystem-image {
  float: left;
  margin-right: 20px;
}





h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 36px;
}
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 32px;
}
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 24px;
}
h4 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

table th {
  background-color: #eee;
}

blockquote {
  background: #f8f8f8;
  border-left: 7px solid #ccc;
  margin: 1.5em 7px;
  padding: 0.2em 7px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 3.5em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
  font-style: italic;
}
