#main-menu {
  background-color: #fff !important;
  padding: 0;
}
#main-menu li.nav-item {
  padding: 16px;
  border-bottom: 2px solid #fff;
}
#main-menu li.nav-item:hover {
  background-color: #eee;
  border-bottom: 2px solid #CA3C32;
}
#main-menu li.nav-item.donate:hover {
  background-color: #fff;
  border-bottom: 0;
}
#main-menu li.nav-item.active {
  border-bottom: 2px solid #CA3C32;
}
#logo {
  padding: 0 20px 0 0;
}

.main-heading {
  font-family: "Futura LT Bold";
  font-size: 36px;
}
.secondary-heading {
  font-family: "Futura LT Medium";
  font-size: 18px;
  margin-bottom: 50px;
}

.page-heading a {
  font-family: "Futura LT Medium";
}

.extra-link {
  font-size: 12px;
  text-decoration: none !important;
}

.language-features {
  text-align: center;
  color: #4D64AE;
}
.language-features hr {
  background-color: #4D64AE;
}

.section-heading .lead {
  font-family: "Futura LT Bold";
  font-weight: 700;
  font-size: 28px;
}
.section-heading h2 {
  margin-bottom: 10px;
}
.section-heading h5 {
  font-family: "Futura LT Medium";
  font-size: 16px;
}

.feature {

}
.feature h4 {
  text-align: center;
  font-family: "Futura LT Bold";
  font-weight: 700;
  font-size: 18px;
}
.feature p {
  font-family: "Futura LT Medium";
  font-size: 16px;
  text-align: center;
}

.ecosystem {
  text-align: center;
  color: #CA3C32;
}

.alt-color {
  background-color: #F2F2F2;
}
#ecosystem-tab {
  border: 0;
  width: 100%;
}
#ecosystem-tab .nav-item a {
  padding: 18px 0;
  border: 0;
  font-family: "Futura LT Medium";
  font-size: 14px;
}
#ecosystem-tab .nav-item a.active {
  border-top: 4px solid #CA3C32;
  color: #CA3C32;
}
#ecosystem-tab .nav-item a {
  color: #898989;
}
#ecosystem-tab-content div.tab-pane {
  background-color: #fff;
  /* border-left: 1px solid #ddd; */
  margin-left: -15px;
  margin-right: -15px;
  min-height: 300px;
  margin-bottom: 20px;
  /* padding: 20px; */
}
.ecosystem hr {
  background-color: #CA3C32;
}

.ide, .blog, .video {
  background-color: #F2F2F2;
  border-left: 20px solid #fff;
  border-right: 20px solid #fff;
  padding: 20px;
  text-align: center;
  border-bottom: 20px solid #fff;
}

.feature {
  padding-bottom: 20px;
}
.feature .outer-link {
  font-family: "Futura LT Medium";
  text-align: center;
}

.editor-icon {
  text-align: center;
}
.editor-icon img {
  padding: 10px 0;
  width: 80px;
}

.packages {
  font-family: "Futura LT Medium";
}

.blog {
  font-family: "Futura LT Medium";
  text-align: left;
}
.blog h3 {
  font-family: "Futura LT Bold";
  font-size: 18px;
  margin-bottom: 0;
}
.blog h3 a {
  color: #4D64AE;
}
.blog .article-date {
  font-size: 12px;
  color: #999;
}
.blog p {
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  margin-bottom: 0px;
  font-size: 14px;
}

.social-network {
  font-family: "Futura LT Medium";
  font-size: 14px;
  background-position: top left;
  background-repeat: no-repeat;
  padding-left: 60px;
  background-size: 50px;
  border-bottom: 1px solid #ccc;
}
.social-network h4 {
  font-family: "Futura LT Bold";
  font-size: 16px;
}
.social-network.discourse {
  background-image: url("../img/discourse.png");
  margin-top: 14px;
}
.social-network.gitter {
  background-image: url("../img/gitter.png");
  margin-top: 14px;
}
.social-network.youtube {
  background-image: url("../img/youtube.png");
  margin-top: 14px;
}
.social-network.twitter {
  background-image: url("../img/twitter.png");
  margin-top: 14px;
}
.social-network.github {
  background-image: url("../img/github.png");
  margin-top: 14px;
  border-bottom: 0;
}
.social-network.facebook {
  background-image: url("../img/facebook.png");
  margin-top: 14px;
  border-bottom: 0;
}

.video {
  text-align: left;
  font-family: "Futura LT Medium";
  background-color: #fff;
}
.video img {
  width: 100%;
}
.video h6 {
  padding: 10px;
  background-color: #F2F2F2;
}
.video a {
  font-size: 14px;
}

.btn {
  font-family: "Futura LT Medium";
}

.footer-menu {
  background-color: #394059;
  color: #fff;
  font-family: "Futura LT Medium";
}
.footer-menu h6 {
  font-family: "Futura LT Bold";
  font-weight: 500;
  font-size: 14px;
}
.footer-menu ul.nav li a {
  padding: 3px 0;
  font-family: "Futura LT Medium";
  font-size: 13px;
  color: #fff;
}

.footer-copy {
  background-color: #2C2F3E;
  color: #fff;
  font-family: "Futura LT Medium";
  font-size: 12px;
  padding: 10px 0;
}
.footer-copy p {
  padding: 0;
  margin: 0;
}

h4.card-title {
	margin: 0;
	font-family: "Open Sans";
	font-size: 1rem;
}

.card-header {
	padding: 0;
}

.tab-title {
  background-color: #CA3C32;
  font-family: "Futura LT Medium";
  font-size: 16px;
  padding: 18px 20px;
  border: 0;
  font-weight: 400;
  /* border-top: 4px solid #CA3C32; */
  color: #fff;
}

.nav-tabs {
    display:none;
}

@media(min-width: 768px) {
  .nav-tabs {
      display: flex;
  }

  .card {
      border: none;
  }

  .card .card-header {
      display:none;
  }

  .card .collapse{
      display:block;
  }

  .tab-title {
    display: none;
  }
}

@media(max-width: 767px) {
  .tab-pane {
      display: block !important;
      opacity: 1;
  }
  .social-network {
    border: 0;
  }
  .donate {
    display: none;
  }
}

@media(max-width: 576px) {
  .docs {
    margin-top: 20px;
  }
}

.btn-primary {
  background-color: #4D64AE;
  border-color: #4D64AE;
}
.link {
  color: #4D64AE;
}

.footer-menu-item {
  margin-top: 30px;
}

#ecosystem-tab-content div.tab-pane {
  padding: 10px;
  padding-top: 20px;
}

#ecosystem-tab-content div.tab-pane h4 {
  color: #CA3C32;
}

img.ecosystem-image {
  float: left;
  margin-right: 20px;
}

.jumbotron {
  background-image: url('../img/splash-img.png');
  background-repeat: repeat-x;
}

.page-heading .main-heading {
  color: #fff;
}
.page-heading .secondary-heading {
  color: #ccc;
}

.jumbotron a.link {
  color: #ccc;
}


.container {
  /* font-family: "Futura LT Medium"; */
}

h1 {
  font-family: "Futura LT Bold";
  font-size: 36px;
}
h2 {
  font-family: "Futura LT Bold";
  font-size: 32px;
}
h3 {
  font-family: "Futura LT Bold";
  font-size: 28px;
}
h3 {
  font-family: "Futura LT Bold";
  font-size: 24px;
}
h4 {
  font-family: "Futura LT Bold";
  font-size: 20px;
}

a {
  /* font-family: "Futura LT Medium"; */
}

table th {
  background-color: #eee;
}