---
layout: homepage
title:  Julia Community
---

{% include mainmenu.html %}

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        Please take a moment to read the <a href="standards/">Julia Community Standards</a>. We
        expect that your participation in any Julia related forum, online or offline,
        respects these standards.
      </p>

      <p>
          We conducted the first annual Julia User & Developer Survey in June 2019, and presented the results at JuliaCon. 
          <a href="/images/2019-julia-user-developer-survey.pdf" target="_blank">Download the survey findings</a>.
      </p>

      <br />

      <h2>Official Channels</h2>

      <br />

      <h3>GitHub</h3>
      <p>
        We use GitHub for the development of Julia itself. There we host our source
        code, track <a href="https://github.com/JuliaLang/julia/issues">issues</a>, and accept
        <a href="https://github.com/JuliaLang/julia/pulls">pull requests</a>. We use the issue
        tracker for bug reports, feature requests, and proposed changes. For support and
        questions, please use Discourse.
      </p>

      <h3>Discourse</h3>
      <p>
        The primary online discussion venue for Julia is the <a href="https://discourse.julialang.org/">Discourse
        forum</a>. Discourse is the right place to do any
        of the following:
        <ul>
          <li><strong>Keep up to date</strong> on important Julia announcements like language releases and JuliaCon.
          <li><strong>Ask a question</strong> about any aspect of using or developing Julia or its
              associated packages and tools. The Discourse forum is the best place to get a
              fast, high-quality answer to your Julia question. There are subcategories for
              various Julia application domains such as machine learning, finance,
              visualisation and GPUs. Questions from newcomers are always welcome: you can
              use the "first steps" tag to highlight your question as one that would benefit
              other new users.
          <li><strong>Respond to others' questions</strong>: our community thrives when people share
              their knowledge and experience.
          <li><strong>Announce a new package</strong> or solicit feedback about something you have been developing.
          <li><strong>Advertise</strong> Julia-related jobs and community events.
        </ul>
      </p>

      <p>
        For Chinese users a Simplified Chinese version discourse is also hosted by the community. Please click this
        <a href="https://discourse.juliacn.com">Julia中文论坛</a> link.
      </p>

      <p>
        The Discourse forum replaced the Julia mailing lists, the largest of which were
        <a href="https://groups.google.com/forum/#!forum/julia-users">julia-users</a> and
        <a href="https://groups.google.com/forum/#!forum/julia-dev">julia-dev</a>, at the end
        of 2016. Those lists are now read-only but you may like to search them to see if
        your question has already been raised.
      </p>

      <h3>Chat</h3>
      <p>
        For casual conversation and quick, informal questions, we have an <a href="https://julialang.slack.com">official
        Julia Slack</a>. Slack is also a good place to start
        if you think you need help but aren't quite sure what you should be asking or
        where to ask it. To join, please visit
        <a href="https://slackinvite.julialang.org/">slackinvite.julialang.org</a> to agree to the
        community code of conduct and receive an invitation.
      </p>
      <p>
        The JuliaCN community has a QQ group: 316628299
      </p>

      <h3>YouTube</h3>
      <p>
        All the <a href="http://juliacon.org">JuliaCon</a> videos and other videos of general
        interest in the community are uploaded to the <a href="https://www.youtube.com/user/JuliaLanguage">Julia Language YouTube
        channel</a>.
      </p>

      <br />

      <h2>Other channels</h2>
      <p>
        On Twitter, tweet with the
        <a href="https://twitter.com/search?q=%23julialang">#julialang</a> hashtag.
      </p>

      <p>
        Julia also has a presence on Stack Overflow under the
        <a href="http://stackoverflow.com/questions/tagged/julia-lang">julia-lang</a> tag, and on
        Stack Overflow en Español under
        <a href="http://es.stackoverflow.com/questions/tagged/julia">julia</a>.
      </p>

      <p>
        For those who prefer IRC to our official forums, there is a <a href="http://webchat.freenode.net/?channels=julia">#julia
        channel</a> on Freenode. We also have
        an unofficial <a href="https://gitter.im/JuliaLang/julia">Gitter</a> channel.

        There is a small <a href="https://www.reddit.com/r/Julia/">Julia subreddit</a> for casual
        discussion.
      </p>

      <br />

      <h2>International Community</h2>
      <p>
        The Julia community is global, with meetups all over the world and resources in
        a variety of different languages.
      </p>

      <h3>Localization</h3>
      <p>
        Julia's official documentation is in English, but many groups work to translate
        and localize documentation and other resources. A few such groups that are
        leading these efforts include:

        <ul>
          <li><a href="http://julia.tokyo">JuliaTokyo</a> (Japanese)
          <li><a href="http://cn.julialang.org">JuliaCN</a> (Chinese)
          <li><a href="https://github.com/JuliaLangEs">JuliaLangEs</a> (Spanish)
          <li><a href="https://github.com/JuliaLangPt">JuliaLangPt</a> (Portuguese)
          <li><a href="https://juliakorea.github.io/ko/">JuliaKorea</a> (Korean)
          <li><a href="https://github.com/JuliaLangGerman">JuliaGerman</a> (German)
          <li><a href="http://juliafran.org">Julia Francophonie</a> (French)
        </ul>
      </p>

      <p>
        Please let us know if you have another organization dedicated to these efforts.
      </p>

      <br />

      <h3>User groups and meetups</h3>
      <p>
        Julia has local user groups around the world, including:

        <h4>Asia</h4>
        <ul>
          <li><a href="http://www.juliacn.com/meetups/">Julia China</a>
          <li><a href="https://www.meetup.com/Bangalore-Julia-User-Group/">Bangalore Julia User Group</a>
          <li><a href="https://www.meetup.com/Juliadelhi/">Julia Delhi</a>
          <li><a href="https://www.meetup.com/Singapore-Julia-User-Group/">Singapore Julia User Group</a>
        </ul>

        <h4>Europe</h4>
        <ul>
          <li><a href="https://www.meetup.com/Barcelona-Julia-Meetup/">Barcelona Julia Meetup</a>
          <li><a href="https://julia-users-berlin.github.io/">Berlin Julia Users Group</a>
          <li><a href="https://www.meetup.com/JuliaCPH/">JuliaCPH (Copenhagen)</a>
          <li><a href="https://www.meetup.com/Dublin-Julia-Users-Group/">Dublin Julia Users Group</a>
          <li><a href="https://www.meetup.com/JuliaStanbul/">JuliaStanbul (Istanbul)</a>
          <li><a href="https://www.meetup.com/London-Julia-User-Group/">London Julia User Group</a>
          <li><a href="https://www.meetup.com/BeNeLux-Julia-User-Group/">BeNeLux Julia User Group</a>
          <li><a href="https://www.meetup.com/Vienna-Julia-Meetup/">Vienna Julia Meetup</a>
          <li><a href="https://www.meetup.com/Warszawskie-Forum-Julia/">Warszawskie Forum Julia</a>
          <li><a href="https://www.meetup.com/Zurich-Julia-User-Group/">Zurich Julia Users Group</a>
          <li><a href="https://julialang.univ-nantes.fr/">Julia Nantes User Group (France)</a>
        </ul>

        <h4>North America</h4>
        <ul>
          <li><a href="https://www.meetup.com/julia-cajun/">Cambridge Area Julia Users Network (CAJUN)</a>
          <li><a href="https://www.meetup.com/Midwest-Julia-Users/">Midwest Julia Users</a>
          <li><a href="https://www.meetup.com/Greater-Cleveland-SciPy-Julia-R-Data-Science-Group/">Greater Cleveland Python/Julia/R Data Science Group</a>
          <li><a href="https://www.meetup.com/SE-Michigan-Julia-Language-Meetup/">SE-Michigan Julia Language Meetup</a>
          <li><a href="https://www.meetup.com/LeonJuliaMeetup/">León Julia Meetup</a>
          <li><a href="https://www.meetup.com/Southern-California-Julia-Users/">Southern California Julia Users</a>
          <li><a href="https://www.meetup.com/julialanges-cdmx/">JuliaLangEs - CDMX (Mexico City)</a>
          <li><a href="https://www.meetup.com/Montreal-Julia-Programming-Language-Meetup/">Montréal Julia Programming Language Meetup</a>
          <li><a href="https://www.meetup.com/Nashville-R-Users-Group/">Nashville Conda, R, Julia Users Group</a>
          <li><a href="https://www.meetup.com/julia-nyc/">New York City Julia User Group</a>
          <li><a href="https://www.meetup.com/Machine-Deep-Learning-an-Introduction/">Pleasonton CA: Machine Learning - Python + Julia</a>
          <li><a href="https://www.meetup.com/Triangle-Julia-Users/">Triangle Julia Users (Raleigh, NC)</a>
          <li><a href="https://www.meetup.com/Bay-Area-Julia-Users/">Bay Area Julia Users</a>
          <li><a href="https://www.meetup.com/Vancouver-Julia-Users/">Vancouver Julia Users</a>
        </ul>

        <h4>Oceania</h4>
        <ul>
          <li><a href="https://www.meetup.com/Sydney-Julia-Julialang-Meetup/">Julia (JuliaLang) Sydney</a>
        </ul>

        <h4>South America</h4>
        <ul>
          <li><a href="https://www.meetup.com/Julia-lang-bsb/">Julia Lang BSB (Brasilia)</a>
          <li><a href="https://www.meetup.com/Campinas-Julia-Language-Meetup/">Campinas Julia Language Meetup</a>
          <li><a href="https://www.meetup.com/Julia-Rio-de-Janeiro/">Rio de Janeiro Julia Meetup</a>
          <li><a href="https://www.meetup.com/Julia-Rosario/">Julia Rosario</a>
          <li><a href="https://www.meetup.com/Julia-Sao-Paulo/">Julia Meetup São Paulo</a>
        </ul>

      </p>
      <h2> Julia GitHub Groups </h2>
      <p>
		The following is a non-comprehensive list of Julia GitHub groups grouped by
        domain:
        <h3> General </h3>

		<ul>
		  <li><a href="https://github.com/juliadocs">JuliaDocs</a> – Documentation-related packages for Julia (<a href="https://gitter.im/juliadocs/users">Gitter</a>)</li>
		  <li><a href="https://github.com/Julia-i18n">Julia-i18n</a> – Internationalization (i18n) and localization (L10n) for Julians (<a href="https://twitter.com/julia_i18n">Twitter</a>, <a href="https://gitter.im/Julia-i18n/julia-i18n">Gitter</a> )</li>
		  <li><a href="https://github.com/JuliaTime">JuliaTime</a> – Date and time libraries</li>
		  <li><a href="https://github.com/JuliaPraxis">JuliaPraxis</a> – Best practices (<a href="https://gitter.im/JuliaPraxis">Gitter</a>)</li>
		  <li><a href="https://github.com/JuliaEditorSupport">JuliaEditorSupport</a> – Extensions/Plugins for text editors and IDEs</li>
		  <li><a href="https://github.com/JunoLab">Juno</a> – The Juno IDE for Atom (<a href="https://gitter.im/JunoLab/Juno">Gitter</a>)</li>
		</ul>

        <h3> Computing </h3>
		<ul>
		<li><a href="https://github.com/JuliaArrays">JuliaArrays</a> – Custom array types (and utilities for building array types)</li>
	  	<li><a href="https://github.com/JuliaBerry">JuliaBerry</a> – <a href="https://juliaberry.github.io/">Julia resources for the Raspberry Pi</a></li>
	  	<li><a href="https://github.com/JuliaCI">JuliaCI</a> – Continuous Integration Support for Julia packages</li>
	  	<li><a href="https://github.com/JuliaGPU">JuliaGPU</a> – GPU computing</li>
	  	<li><a href="https://github.com/JuliaInterop">JuliaInterop</a> – Easy interoperability between Julia and not-Julia</li>
	  	<li><a href="https://github.com/JuliaIO">JuliaIO</a> – IO-related functionality, such as serialization</li>
	 	<li><a href="https://github.com/JuliaParallel">JuliaParallel</a> – <a href="http://juliaparallel.github.io/">Parallel programming in Julia</a></li>
	  	<li><a href="https://github.com/JuliaWeb">JuliaWeb</a> – Web stack</li>
	  	<li><a href="https://github.com/juliacloud">JuliaCloud</a> - Cloud providers</li>
		</ul>

        <h3> Mathematics </h3>

		<ul>
		<li><a href="https://github.com/JuliaDiff/">JuliaDiff</a> – <a href="http://www.juliadiff.org/">Differentiation tools</a></li>
		<li><a href="https://github.com/JuliaDiffEq">JuliaDiffEq</a> – <a href="https://juliadiffeq.github.io/">Differential equation solving and analysis</a> (<a href="https://gitter.im/JuliaDiffEq/Lobby">Gitter</a>)</li>
		<li><a href="https://github.com/JuliaGeometry">JuliaGeometry</a> – Computational Geometry</li>
		<li><a href="https://github.com/JuliaGraphs">JuliaGraphs</a> – Graph Theory and Implementation</li>
		<li><a href="https://github.com/JuliaIntervals">JuliaIntervals</a> - Rigorous numerics with interval arithmetic &amp; applications</li>
		<li><a href="https://github.com/JuliaMath">JuliaMath</a> – Mathematics made easy in Julia</li>
		<li><a href="https://github.com/JuliaOpt">JuliaOpt</a> – <a href="http://www.juliaopt.org/">Optimization</a> (<a href="https://gitter.im/JuliaOpt/home">Gitter</a>)</li>
		<li><a href="https://github.com/JuliaPolyhedra">JuliaPolyhedra</a> – <a href="https://juliapolyhedra.github.io/">Polyhedral computation</a></li>
		<li><a href="https://github.com/JuliaSparse">JuliaSparse</a> – Sparse matrix solvers</li>
		</ul>

        <h3> Scientific Domains </h3>
		<ul>
		  <li><a href="https://github.com/BioJulia">BioJulia</a> – Biology (<a href="https://gitter.im/BioJulia/home">Gitter</a>)</li>
		  <li><a href="https://github.com/EcoJulia">EcoJulia</a> – Ecology</li>
		  <li><a href="https://github.com/JuliaAstro">JuliaAstro</a> – <a href="https://juliaastro.github.io/">Astronomy</a> (<a href="https://gitter.im/JuliaAstro/home">Gitter</a>)</li>
		  <li><a href="https://github.com/JuliaDSP">JuliaDSP</a> – Digital signal processing</li>
		  <li><a href="https://github.com/JuliaQuant">JuliaQuant</a> – Finance</li>
		  <li><a href="https://github.com/JuliaPhysics">JuliaPhysics</a> – Physics</li>
		  <li><a href="https://github.com/JuliaDynamics">JuliaDynamics</a> - <a href="https://juliadynamics.github.io/DynamicalSystems.jl/latest/">Dynamical systems</a>, nonlinear dynamics and chaos.</li>
		  <li><a href="https://github.com/JuliaGeo">JuliaGeo</a> – Earth science, geospatial data processing</li>
                  <li><a href="https://github.com/JuliaReach">JuliaReach</a> - <a href="http://www.juliareach.org/"> Reachability Computations for Dynamical Systems </a> (<a href="https://gitter.im/JuliaReach/Lobby">Gitter</a>)</li>
                </ul>
        <h3> Data Science </h3>
		<ul>
		  <li><a href="https://github.com/JuliaML">JuliaML</a> – <a href="https://juliaml.github.io/">Machine Learning</a>  (<a href="https://gitter.im/JuliaML/chat">Gitter</a>)</li>
		  <li><a href="https://github.com/JuliaStats">JuliaStats</a> – <a href="http://juliastats.github.io/">Statistics</a></li>
		  <li><a href="https://github.com/JuliaImages">JuliaImages</a> – Image Processing</li>
		  <li><a href="https://github.com/JuliaText">JuliaText</a> – Natural Language Processing (NLP), Computational Linguistics  and (textual) Information Retrieval</li>
		  <li><a href="https://github.com/JuliaDatabases">JuliaDatabases</a> – Various database drivers for Julia</li>
		  <li><a href="https://github.com/JuliaData">JuliaData</a> – Data manipulation, storage, and I/O in Julia</li>
		</ul>
			<h3> Visualizations </h3>
			<ul>
		    <li><a href="https://github.com/GiovineItalia">GiovineItalia</a> – Plotting (with <a href="https://github.com/GiovineItalia/Gadfly.jl">Gadfly</a>)</li>
			<li><a href="https://github.com/JuliaPlots">JuliaPlots</a> – <a href="https://juliaplots.github.io/">Data visualization</a></li>
		    <li><a href="https://github.com/JuliaGL">JuliaGL</a> – OpenGL API and ecosystem (<a href="https://gitter.im/JuliaGL/meta">Gitter</a>)</li>
		    <li><a href="https://github.com/JuliaGraphics">JuliaGraphics</a> – Drawing, Colors, GUIs</li>
	       </ul>
		  </p>
		</div>
	  </div>
	</div>

<br /><br />

{% include footermenu.html %}

{% include footer.html %}
