---
layout: homepage
title:  Julia Community
---

{% include mainmenu.html %}

<br /><br />

<div class="container">
  <div class="row">
    <div class="col-12">
      <p>
        Please take a moment to read the [Julia Community Standards](standards/). We
        expect that your participation in any Julia related forum, online or offline,
        respects these standards.
      </p>

      <br />

      <h2>Official Channels</h2>

      <br />

      <h3>GitHub</h3>
      <p>
        We use GitHub for the development of Julia itself. There we host our source
        code, track [issues](https://github.com/JuliaLang/julia/issues), and accept
        [pull requests](https://github.com/JuliaLang/julia/pulls). We use the issue
        tracker for bug reports, feature requests, and proposed changes. For support and
        questions, please use Discourse.
      </p>

      <h3>Discourse</h3>
      <p>
        The primary online discussion venue for Julia is the [Discourse
        forum](https://discourse.julialang.org/). Discourse is the right place to do any
        of the following:
        <ul>
          <li><strong>Keep up to date</strong> on important Julia announcements like language releases and JuliaCon.
          <li><strong>Ask a question</strong> about any aspect of using or developing Julia or its
              associated packages and tools. The Discourse forum is the best place to get a
              fast, high-quality answer to your Julia question. There are subcategories for
              various Julia application domains such as machine learning, finance,
              visualisation and GPUs. Questions from newcomers are always welcome: you can
              use the "first steps" tag to highlight your question as one that would benefit
              other new users.
          <li><strong>Respond to others' questions</strong>: our community thrives when people share
              their knowledge and experience.
          <li><strong>Announce a new package</strong> or solicit feedback about something you have been developing.
          <li><strong>Advertise</strong> Julia-related jobs and community events.
        </ul>
      </p>

      <p>
        The Discourse forum replaced the Julia mailing lists, the largest of which were
        [julia-users](https://groups.google.com/forum/#!forum/julia-users) and
        [julia-dev](https://groups.google.com/forum/#!forum/julia-dev), at the end
        of 2016. Those lists are now read-only but you may like to search them to see if
        your question has already been raised.
      </p>

      <h3>Slack</h3>
      <p>
        For casual conversation and quick, informal questions, we have an [official
        Julia Slack](https://julialang.slack.com). Slack is also a good place to start
        if you think you need help but aren't quite sure what you should be asking or
        where to ask it. To join, please visit
        [slackinvite.julialang.org](https://slackinvite.julialang.org/) to agree to the
        community code of conduct and receive an invitation.
      </p>

      <h3>YouTube</h3>
      <p>
        All the [JuliaCon](http://juliacon.org) videos and other videos of general
        interest in the community are uploaded to the [Julia Language YouTube
        channel](https://www.youtube.com/user/JuliaLanguage).
      </p>

      <br />

      <h2>Other channels</h2>
      <p>
        On Twitter, tweet with the
        [#julialang](https://twitter.com/search?q=%23julialang) hashtag.
      </p>

      <p>
        Julia also has a presence on Stack Overflow under the
        [julia-lang](http://stackoverflow.com/questions/tagged/julia-lang) tag, and on
        Stack Overflow en Español under
        [julia](http://es.stackoverflow.com/questions/tagged/julia).
      </p>

      <p>
        For those who prefer IRC to our official forums, there is a [#julia
        channel](http://webchat.freenode.net/?channels=julia) on Freenode. We also have
        an unofficial [Gitter](https://gitter.im/JuliaLang/julia) channel.

        There is a small [Julia subreddit](https://www.reddit.com/r/Julia/) for casual
        discussion.
      </p>

      <br />

      <h2>International Community</h2>
      <p>
        The Julia community is global, with meetups all over the world and resources in
        a variety of different languages.
      </p>

      <h3>Localization</h3>
      <p>
        Julia's official documentation is in English, but many groups work to translate
        and localize documentation and other resources. A few such groups that are
        leading these efforts include:

        <ul>
          <li>[JuliaTokyo](http://julia.tokyo) (Japanese)
          <li>[JulialangOrgCN](http://julialang.org.cn) (Chinese Simplified)
          <li>[JuliaLangEs](https://github.com/JuliaLangEs) (Spanish)
          <li>[JuliaLangPt](https://github.com/JuliaLangPt) (Portuguese)
          <li>[JuliaKorea](https://juliakorea.github.io/ko/) (Korean)
        </ul>
      </p>

      <p>
        Please let us know if you have another organization dedicated to these efforts.
      </p>

      <br />

      <h3>User groups and meetups</h3>
      <p>
        Julia has local user groups around the world, including:

        <h4>Asia</h4>
        <ul>
          <li>[Bangalore Julia User Group](https://www.meetup.com/Bangalore-Julia-User-Group/)
          <li>[Julia Delhi](https://www.meetup.com/Juliadelhi/)
          <li>[Singapore Julia User Group](https://www.meetup.com/Singapore-Julia-User-Group/)
        </ul>

        <h4>Europe</h4>
        <ul>
          <li>[Barcelona Julia Meetup](https://www.meetup.com/Barcelona-Julia-Meetup/)
          <li>[Berlin Julia Users Group](https://julia-users-berlin.github.io/)
          <li>[JuliaCPH (Copenhagen)](https://www.meetup.com/JuliaCPH/)
          <li>[Dublin Julia Users Group](https://www.meetup.com/Dublin-Julia-Users-Group/)
          <li>[JuliaStanbul (Istanbul)](https://www.meetup.com/JuliaStanbul/)
          <li>[London Julia User Group](https://www.meetup.com/London-Julia-User-Group/)
          <li>[BeNeLux Julia User Group](https://www.meetup.com/BeNeLux-Julia-User-Group/)
          <li>[Vienna Julia Meetup](https://www.meetup.com/Vienna-Julia-Meetup/)
          <li>[Warszawskie Forum Julia](https://www.meetup.com/Warszawskie-Forum-Julia/)
          <li>[Zurich Julia Users Group](https://www.meetup.com/Zurich-Julia-User-Group/)
        </ul>

        <h4>North America</h4>
        <ul>
          <li>[Cambridge Area Julia Users Network (CAJUN)](https://www.meetup.com/julia-cajun/)
          <li>[Midwest Julia Users](https://www.meetup.com/Midwest-Julia-Users/)
          <li>[Greater Cleveland Python/Julia/R Data Science Group](https://www.meetup.com/Greater-Cleveland-SciPy-Julia-R-Data-Science-Group/)
          <li>[SE-Michigan Julia Language Meetup](https://www.meetup.com/SE-Michigan-Julia-Language-Meetup/)
          <li>[León Julia Meetup](https://www.meetup.com/LeonJuliaMeetup/)
          <li>[Southern California Julia Users](https://www.meetup.com/Southern-California-Julia-Users/)
          <li>[JuliaLangEs - CDMX (Mexico City)](https://www.meetup.com/julialanges-cdmx/)
          <li>[Montréal Julia Programming Language Meetup](https://www.meetup.com/Montreal-Julia-Programming-Language-Meetup/)
          <li>[Nashville Conda, R, Julia Users Group](https://www.meetup.com/Nashville-R-Users-Group/)
          <li>[New York City Julia User Group](https://www.meetup.com/julia-nyc/)
          <li>[Pleasonton CA: Machine Learning - Python + Julia](https://www.meetup.com/Machine-Deep-Learning-an-Introduction/)
          <li>[Triangle Julia Users (Raleigh, NC)](https://www.meetup.com/Triangle-Julia-Users/)
          <li>[Bay Area Julia Users](https://www.meetup.com/Bay-Area-Julia-Users/)
          <li>[Vancouver Julia Users](https://www.meetup.com/Vancouver-Julia-Users/)
        </ul>

        <h4>Oceania</h4>
        <ul>
          <li>[Julia (JuliaLang) Sydney](https://www.meetup.com/Sydney-Julia-Julialang-Meetup/)
        </ul>

        <h4>South America</h4>
        <ul>
          <li>[Julia Lang BSB (Brasilia)](https://www.meetup.com/Julia-lang-bsb/)
          <li>[Campinas Julia Language Meetup](https://www.meetup.com/Campinas-Julia-Language-Meetup/)
          <li>[Rio de Janeiro Julia Meetup](https://www.meetup.com/Julia-Rio-de-Janeiro/)
          <li>[Julia Rosario](https://www.meetup.com/Julia-Rosario/)
          <li>[Julia Meetup São Paulo](https://www.meetup.com/Julia-Sao-Paulo/)
        </ul>
      </p>
    </div>
  </div>
</div>

<br /><br />

{% include footermenu.html %}

{% include footer.html %}
