<!-- alerts -->

<head>
  <meta name="description" content="Click here to watch Julia Cofounder Alan Edelman's Power of Language talk at the IEEE-CS Sidney Fernbach Award Presentation."/>
</head>

<div class="container-fluid" id="top-alert">
  <div class="alert alert-dark mb-0" role="alert">
    <p class="text-center">
      Alan Edelman's <a href="https://www.youtube.com/watch?v=nwdGsz4rc3Q">Power of Language</a> talk at the IEEE-CS Sidney Fernbach Award Presentation
  </div>
</div>
<!-- end alerts -->
