<!-- blog -->

<head>
  <meta name="description" content="Want to know more about the Julia language and its community? Click here to read the latest developments regarding the Julia Programming Language."/>
</head>

<div class="container">
  <br /><br />

  <div class="row">
    <div class="col-lg-4 col-md-3 language-features "><hr/></div>
    <div class="col-lg-4 col-md-6 language-features section-heading">
      <h2 class="lead secondary-heading">
        Recent Blog Posts
      </h2>
    </div>
    <div class="col-lg-4 col-md-3 language-features"><hr/></div>
  </div>

  <br />

  <div class="row">
    {{ range first 3 (where . "Section" "blog") }}
      <div class="col-lg-4 col-md-12 blog">
        <h3>
          <a href="{{ .RelPermalink }}" class="title" data-proofer-ignore>{{ .Title }}</a>
        </h3>
        <span class="article-date">{{ .Date.Format "02 January 2006" }}</span>
        <p>
          {{ .Summary | truncate 100 }}
        </p>
      </div>
    {{ end }}
  </div>

  <br />

  <div class="row">
    <div class="col-12" style="text-align: center">
      <a class="btn btn-sm btn-outline-primary" href="/blog">Visit blog</a>
    </div>
  </div>

</div>
<!-- end blog -->
