<head>
  <meta name="description" content="If you use Julia in your research, we request citing the paper 'Julia: A Fresh Approach to Numerical Computing'."/>
</head>

<b>{{ .Title }}</b>.
{{ delimit .Params.authors ", " }}.
({{ .Params.year }})
{{ if isset .Params "journal" }}<i>{{ .Params.journal }}</i>{{ end }}{{ if isset .Params "booktitle" }}<i>{{ .Params.booktitle }}</i>{{ end }}{{ if isset .Params "volume" }}, {{ .Params.volume }}{{ end }}{{ if isset .Params "issue" }}({{ .Params.issue }}){{ end }}{{ if isset .Params "pages" }}: {{ replace .Params.pages "--" "&ndash;" | safeHTML}}{{ end }}.
{{ if isset .Params "doi" }}doi:&nbsp;<a href="http://dx.doi.org/{{ .Params.doi }}">{{ .Params.doi }}</a>. {{ end }}
{{ if isset .Params "pmid" }}pmid:&nbsp;<a href="http://www.ncbi.nlm.nih.gov/pubmed/{{ .Params.pmid }}">{{ .Params.pmid }}</a>. {{ end }}
{{ if isset .Params "arxiv" }}arXiv:&nbsp;<a href="https://arxiv.org/abs/{{ .Params.arxiv }}">{{ .Params.arxiv }}</a>. {{ end }}
{{ if isset .Params "link" }}url:&nbsp;<a href="{{ .Params.link }}">{{ .Params.link }}</a>. {{ end }}
{{ if isset .Params "packages" }}
Packages: 
  {{- $.Scratch.Set "l1" slice -}}
    {{- range $pack_name, $pack_link := .Params.packages }}
        {{ $t1 := (printf "<a href='%s'>%s</a>" ($pack_link) $pack_name) }}
        {{ $.Scratch.Add "l1" (slice $t1) }}
    {{- end -}}
    {{ delimit ($.Scratch.Get "l1") ", " }}.
{{ end }}
