<!--
<footer class="container-fluid footer-menu">
    <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Download</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/downloads/index.html">Julia {{ .Params.julia_version }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/downloads/oldreleases.html">Older</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Documentation</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://docs.julialang.org/en/v1/">Julia {{ .Params.julia_version }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://docs.juliacn.com">Julia (CN)</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Packages</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://pkg.julialang.org">Package Docs</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://juliaobserver.com">Julia Observer</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Community</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://discourse.julialang.org">Discourse</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julialang.slack.com/">Slack</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Learning</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="https://www.youtube.com/JuliaLanguage/">YouTube Channel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julialang.org/learning/">Other Resources</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-4 footer-menu-item">
          <h3>Research</h3>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/research/">Research</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="https://julia.mit.edu/">MIT</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <br />
  </footer>
-->
