<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>{{ .Title | safeHTML }}</title>
<meta name="author" content="Jeff Bezanson, Stefan Karpinski, Viral Shah, Alan Edelman, et al." />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="Official website for the Julia programming language. Join the Julia community today.">

<meta property="og:title" content="The Julia Language"/>
<meta property="og:image" content="http://www.julialang.org/images/julia-open-graph.png"/>
<meta property="og:description" content="Official website for the Julia programming language"/>

<link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
<link rel="stylesheet" href="{{ "/v2/css/bootstrap.min.css" | absURL }}" />
<link rel="stylesheet" href="{{ "/v2/css/app.css" | absURL }}" />
<link rel="stylesheet" href="{{ "/v2/css/fonts.css" | absURL }}" />
<script async defer src="https://buttons.github.io/buttons.js"></script>

{{ partial "mathjax_support.html" . }}

{{ template "_internal/google_analytics_async.html" . }}
