<!-- jumbotron -->
<head>
  <meta name="description" content="Julia is a fast, dynamic, optionally typed, easy to use, and open source language. Find out more about JuliaLang here."/>
</head>

<div class="container">
  <div class="jumbotron" style="text-align: center;" id="main-jumbo">
    <div class="container page-heading">
      <h1 class="display-5 main-heading">
        The Julia Programming Language
      </h1>
<!--
      <p class="lead secondary-heading">
        Julia is a highly productive language that runs fast
      </p>
-->
</br/>
      <div class="row">
        <div class="col-lg-3 col-md-1 col-sm-1"></div>
        <div class="col-lg-auto col-md-auto col-sm-auto">
          <a class="btn btn-success btn-lg btn-block" href="/downloads" role="button">Download {{ .Params.julia_version }}</a>
        </br/>
        </div>
        <div class="col-lg-auto col-md-auto col-sm-auto docs">
          <a class="btn btn-primary btn-lg btn-block" href="//docs.julialang.org" role="button">Documentation</a>
        </br/>
        </div>
        <div class="col-lg-3 col-md-1 col-sm-1"></div>
      </div>           
      <div class="row">
        <a class="github-button" href="https://github.com/JuliaLang/julia" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star JuliaLang/julia on GitHub">Star</a>
      </div>
    </div>
  </div>
</div>
<!-- end jumbotron -->
