<!-- packages -->
<head>
  <meta name="description" content="Julia supports thousands of packages. Julia also supports packages from other languages such as Python, C, Fortran, Java and R. Learn more here."/>
</head>

<div class="container-fluid alt-color packages">
    <br /><br />

    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
        <div class="col-lg-4 col-md-6 ecosystem section-heading">
          <h2 class="lead secondary-heading">
            Packages
          </h2>
        </div>
        <div class="col-lg-4 col-md-3 ecosystem"><hr/></div>
      </div>

      <br />
<!--
      <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8">
          <form class="form">
            <input class="form-control form-control-lg" type="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
        <div class="col-lg-3 col-md-2"></div>
      </div>
-->
      <p>
        Julia has been downloaded over 11 million times and the Julia community has registered over 2,500 Julia packages for community use. These include various mathematical libraries, data manipulation tools, and packages for general purpose computing. In addition to these, you can easily use libraries from <a href="https://github.com/JuliaPy/PyCall.jl">Python</a>, <a href="https://github.com/JuliaInterop/RCall.jl">R</a>, <a href="https://docs.julialang.org/en/v1/manual/calling-c-and-fortran-code/#Calling-C-and-Fortran-Code-1">C/Fortran</a>, <a href="https://github.com/Keno/Cxx.jl">C++</a>, and <a href="https://github.com/JuliaInterop/JavaCall.jl">Java</a>. If you do not find what you are looking for, ask on <a href="http://discourse.julialang.org">Discourse</a>, or even better, contribute!
      </p>

      <br /><br />

      <div class="row">
        <div class="col-12" style="text-align: center">
          <a class="btn btn-sm btn-outline-danger" href="//pkg.julialang.org">Package Docs</a>
          <a class="btn btn-sm btn-outline-danger" href="//juliaobserver.com">Julia Observer</a>
        </div>
      </div>

      <br />

    </div>
  </div>
  <!-- end packages -->
