<!doctype html>
<html lang="en">
<head>
	<!-- parts for all pages -->
	{{insert meta.html}}
	{{insert head_scripts.html}}

	<link rel="icon" href="/assets/infra/julia.ico">

  <!-- Franklin stylesheets for generated pages -->
  {{if hasmath}} {{insert head_katex.html }}      {{end}}
  {{if hascode}} {{insert head_highlight.html }}  {{end}}
  {{isdef title}} <title>{{fill title}}</title>   {{end}}

  {{ispage /blog/*}}
  <style>
	  .container ul li p {margin-bottom: 0;}
  </style>
  {{end}}

</head>

<body>

{{insert navbar.html}}

<br><br>

{{ispage /blog/*}}
<div class="container blog-title">
	{{isdef title}}<h1>{{fill title}}</h1>{{end}}
  <h3>
  {{isdef published}} <span style="font-weight: lighter;"> {{fill published}} </span>
	|
	{{end}}
	{{isdef author}} <span style="font-weight: bold;">{{fill author}}</span> {{end}}
  <!-- assumption that only one of the two is defined -->
  {{isdef authors}} <span style="font-weight: bold;">{{fill authors}} </span> {{end}}
  </h3>
</div>
{{end}}

<!-- Content appended here -->
