{{ define "main" }}

  {{ partial "mainmenu.html" . }}
  <br /><br/>

  <div class = "container">
  <h1>404</h1>
  <p>
    It appears that you have stumbled upon a page on the Julia website that does not exist. You may find it useful to start at
    <a href="http://www.julialang.org">http://www.julialang.org</a>, or navigate the Julia website using the links above.

    For improvements to this website, please <a href="https://github.com/julialang/www.julialang.org">file issues or submit pull requests</a>.
  <p>
  </div>
  <br /><br />
  {{ partial "footermenu.html" . }}

  {{ partial "footer.html" . }}

{{ end }}
