<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width; initial-scale=1.0;">
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{{ page.title }}</title>
  <meta name="author" content="Jeff Bezanson, Stefan Karpinski, Viral Shah, Alan Edelman, et al." />
  <script src="https://use.typekit.net/reo8zgu.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <link rel="stylesheet" href="{{site.baseurl}}/reset.css">
  <link rel="stylesheet" href="{{site.baseurl}}/util.css">
  <link rel="stylesheet" href="{{site.baseurl}}/style2.css">
  <script src="{{site.baseurl}}/prism.js"></script>
  <link rel="stylesheet" href="{{site.baseurl}}/prism-dark.css">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-28835595-1', 'auto');
    ga('send', 'pageview');
  </script>

  <script type="text/javascript">window.liveSettings={api_key:"ab25420d08984953bd7435fd47506f96"};</script>
  <script type="text/javascript" src="//cdn.transifex.com/live.js"></script>
</head>
<body>
{{ content }}
</body>
</html>
