---
layout: common
---
<div class="title">The Julia Blog</div>
{% include links.html %}

<div id="blogpost">
  <h1>{{ page.title }}</h1>
  <p class="metadata">
    <span class="timestamp">{{ page.date | date_to_string }}</span>
    &nbsp;|&nbsp;
    <span class="author">{{ page.author }}</span>
  </p>

  {{ content }}

</div>

<div id="disqus_thread"></div>
<script type="text/javascript">
  (function() {
    var dsq = document.createElement('script');
    dsq.async = true;
    dsq.type = 'text/javascript';
    dsq.src = 'http://julialang.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] ||
     document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
