---
layout: common
---
{% include title.html %}
{% include links.html %}

<div id="blogpost">
  <h1>{{ page.title }}</h1>

  <p class="metadata">
    <span class="timestamp">{{ page.date | date_to_string }}</span>
    {% if page.author %}
    &nbsp;|&nbsp;
    <span class="author">{{ page.author }}</span>
    {% elsif page.authors %}
    &nbsp;|&nbsp;
    <span class="author">
      {% for author in page.authors %}
        {{ author }}{% unless forloop.last %},{% endunless %}
      {% endfor %}
    </span>
    {% endif %}
  </p>

  {{ content }}

</div>

{% if page.trackbacks %}
<div id="trackbacks">
  <b>Trackbacks:</b><ul>
  {% for trackback_hash in page.trackbacks %}
    {% for trackback in trackback_hash %}
      <li><a href="{{trackback[1]}}">{{trackback[0]}}</a></li>
    {% endfor %}
  {% endfor %}
  </ul>
</div>
{% endif %}
