---
layout: homepage
title:  Julia Publications
---

{% include mainmenu.html %}

<br /><br/>

<div class = "container">
<p>Research on Julia is carried out at the <a href="https://julia.mit.edu">Julia Lab at MIT</a> and in many other research groups worldwide. If you use Julia for your research, we request citing the following paper:</p>

<p>
{% assign beks17 = site.publications | where:"path","_publications/BEKS17.md" | first %}
<div>{% include citation.html pub=beks17 %}</div>
</p>

<p>
Here's a list of publications about the Julia language, its standard
library, Julia packages, and technical computing applications. It
is by no means complete, and is based on submissions by
authors. A broader list of papers is available on <a href =
"https://scholar.google.com/scholar?cites=12373977815425691465&as_sdt=40000005&sciodt=0,22&hl=en">Google
Scholar</a>.
</p>

We welcome additions to this list in the form of
<a href = "https://github.com/JuliaLang/www.julialang.org/tree/master/_publications#readme">pull requests</a>.
<br><br>

{% assign pubs_grouped = site.publications | group_by: 'year' | sort: 'name' | reverse %}
<ul class="publist">
{% for eachyear in pubs_grouped  %}
  <h2> {{ eachyear.name }} </h2>
  {% for pub in eachyear.items %}
  <li id="{{ pub.path | remove: "_publications/" | remove: ".md"  }}">{% include citation.html pub=pub %}</li>
  {% endfor %}
  <br/><br/>
{% endfor %}
</ul>
</div>

<br /><br />

{% include footermenu.html %}

{% include footer.html %}