name: Check for dead links

on:
  schedule:
    - cron: 0 15 * * *

jobs:
  verify-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Setup Node
        uses: actions/setup-node@v1
        with:
          node-version: '10'
      - name: Install markdown-link-check
        run: npm install -g markdown-link-check
      - name: Verify links
        run: find . -name \*.md -print0 | xargs -0 -n1 markdown-link-check -q
